/***
Login page
***/

/* logo page */
.search_box {
  background-color: #E7E7E7 !important;
}

.search_box .logo {
  width: 247px;
  margin: 0 auto;   
  margin-top:60px;
  padding: 15px;
  text-align: center;
}  


.search_box .content,.search_box .content_msg {
  background: url(../../img/bg-white-lock.png) repeat;
 margin-top: 150px;
  margin-bottom: 0px;
  padding: 30px;  
  padding-top: 20px;  
  padding-bottom: 15px;  
  
}

.search_box .content h3,.search_box .content_msg h3 {
  color: #eee;
}
.search_box .content h4,.search_box .content_msg h4  {
  color: #eee;
}
.search_box .content_msg {
  min-height: 250px;
  width: 500px;
  }

.search_box .content p,
.search_box .content label {
  color: #fff;
}

.search_box .content .search_box-form,
.search_box .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.search_box .content .m-wrap {
   background-color: #fff;
}

h4{
    line-height: 25px;
    font-size: 16px;
    color: #55a938;
}
.search_box .content select.m-wrap {
    width: 390px;
}
.search_box .content .control-group {
  margin-bottom: 20px !important;
}

.search_box .content .input-icon .m-wrap {  
  margin: 0px !important;
}

.search_box .content .forget-form {
  display: none;
}

.search_box .content .register-form {
  display: none;
}

.search_box .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}

.search_box .content .form-actions {
  background-color: transparent;
  clear: both;
  border: 0px;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.search_box .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}  

.search_box .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.search_box .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}

.search_box .content .form-actions .btn {
  margin-top: 1px;
}

.search_box .content .forget-password {
  margin-top: 25px;
}

.search_box .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.search_box .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* select2 dropdowns */
.search_box .content .select2-container i {
  display: inline-block;
  color: #ccc;
  z-index: 1;
  margin: 2px 4px 4px 3px; 
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center; 
}

.search_box .content .select2-container a span {
  font-size: 13px;
}

.search_box .content .select2-container a span img {
  margin-left: 4px;
}

/* footer copyright */
.search_box .copyright {
  text-align: center;
width: 270px;
/*margin: 0 auto; */
float:right;
padding: 10px 30px 0 10px;
color: #eee;
font-size: 12px;
margin-right:35px;
}

@media (max-width: 480px) {
  /***
  search_box page
  ***/
  .search_box .logo {
    margin-top:10px;
  }

  .search_box .content {
    padding: 30px; 
     margin-top: 50px;
  }

  .search_box .content h3 {
    font-size: 22px;
  }

  .search_box .content .m-wrap {
/*      width: 180px;*/
  }

  .search_box .checkbox {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .search_box .content {
   margin-top: 50px;
  }
}