/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);*/


/*************************
*******Typography******
**************************/


.home-signup {
  background: rgba(179, 159, 159, 0.21) !important;  
  padding: 21px 50px;
  height: 100%;
  margin: 0 auto;
}


.home-signup form{
  margin: 65px auto;
}

.home-signup form input {
  height: 50px;
  border-radius: 0px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

.home-signup form select {
  height: 50px;
  border-radius: 0px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
}

.home-signup form div.input-group-addon{
  border-radius: 0px;
  background: #5bc2f1;
  color: #ffffff;
}

.home-signup form div.input-group-addon i {
  font-size: 30px;
  width: 35px;
}

.btn-primary-home{
  background: #5bc2f1;
  font-size: 20px;
  color: #ffffff;
  height: 50px;
  line-height: 45px;
  border: 2px solid #ffffff;
}

@font-face {
  font-family: MyriadWebPro;
  src: url(../fonts/MyriadWebPro.ttf);
}

body {
  background: #fff;
  font-family: 'MyriadWebPro', 'Open Sans', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
  background: #265531;
  background-image:  url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;

}
body>.container{background: #fff; margin-top: 14%;padding: 0px 34px;;}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'MyriadWebPro','Open Sans', sans-serif;
  color:#4e4e4e;
}

h1{
  font-size: 36px;
  color:#fff;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #1f62a5;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #4780b9;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}



.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover,
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
}

.modal-dialog .btn-primary{margin-top: 0px;     padding: 7px 20px;    background: #01a041;}
.modal-dialog .btn-danger{margin-top: 0px;     padding: 7px 20px; }
.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {   
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 70px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/

#header .search{
  display: inline-block;
}

.navbar>.container .navbar-brand{
  margin-left: 0;

}

.top-bar {
  padding: 10px 0;
  border-bottom: 1px solid #222;
  line-height: 28px;
}
.sitelogo>a{display: block; float: left;}
.sitelogo img{width: 154px; display: block; float: left;}

.social{
  text-align: left;
  display: block;
  float: left;
}

.social-share{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-left: 10px;
}

ul.social-share li {
  display: inline-block;
  position: relative;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
}

ul.social-share li a:hover {
  background: #ae1e23;
  color: #fff;
}
.social-share a{position: relative;}
.social-share .badges{display:block; width: auto; padding: 3px 5px; color:#fff; background: #dc0808; border-radius: 12px; line-height: 12px; font-size: 12px; position: absolute;     top: -10px;    right: -5px;}
.social.socialright{    position: absolute;
  left: -100px;
  bottom: 5px;}
  .sitelogo{margin-top: 35px;}
  .rightman{position: relative; float: right; width: 120px;
    margin-right:4%;}

    .rightman .manouter{border-radius: 50%;
      border: 1px solid #00b2b2; overflow: hidden; }
      .rightman .manouter img{width: 100%;}
      .rightman .footyouter{width:40%; border-radius: 50%;
        border: 1px solid #CCCCCC; overflow: hidden; position: absolute;
        bottom: 0%;
        right: -15%;
        background: #fff;

        -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.69);
        -moz-box-shadow:    0px 5px 11px 0px rgba(50, 50, 50, 0.69);
        box-shadow:         0px 5px 11px 0px rgba(50, 50, 50, 0.69);
      }
      .rightman .footyouter img{width: 100%;}
      .rightman .footyouter .footyinner{padding: 5%;}

      .search i {
        color: #888;
        position: absolute;
        top: 0px; right: 3px;
        cursor: pointer;
        padding: 6px;
      }
      .search form{border-radius: 3px;background: #fff; position: relative;  overflow: hidden; margin-top: 2px; width: 285px;}
      input.search-form{
        font-size: 13px;
        border: 0 none;
        width: 100%;
        padding: 7px 25px 6px 15px;
        color: #555;


      }

      input.search-form::-webkit-input-placeholder{
        color: #aaa;
      }

      input.search-form:hover::-webkit-input-placeholder {
        color: #aaa;
      }



      .navbar-brand {
        padding: 0;
        margin:0;
      }

      .navbar {
        border-radius: 0;
        margin-bottom: 0;
        background: #2a2a2a;
        padding: 0px 0;
        padding-bottom: 0;
      }

      .nav.navbar-nav{width: 100%;}

      .navbar-nav>li{
        margin-right: 7px;
        padding: 12px 2px;
        line-height: 10px;
      }

      .navbar-inverse .navbar-nav > li > a {
        padding: 5px 12px;
        margin: 0;
        border-radius: 3px;
        color: #fff;
        line-height: 24px;
        display: inline-block;
        font-size: 13px;
      }

      .navbar-inverse .navbar-nav > li > a:hover{

        color: #fff;
      }

      .navbar-inverse {
        border: none;
      }

      .navbar-inverse .navbar-brand {
        font-size: 36px;
        line-height: 50px;
        color: #fff;
      }

      .navbar-inverse .navbar-nav > .active > a,
      .navbar-inverse .navbar-nav > .active > a:hover,
      .navbar-inverse .navbar-nav > .active > a:focus,
      .navbar-inverse .navbar-nav > .open > a,
      .navbar-inverse .navbar-nav > .open > a:hover,
      .navbar-inverse .navbar-nav > .open > a:focus {
        background: #2a2a2a;
        color: #fff;
      }

      .navbar-inverse .navbar-nav .dropdown-menu {
        background-color: rgba(0,0,0,.85);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
        -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
        border: 0;
        padding: 0;
        margin-top: 0;
        border-top: 0;
        border-radius: 0;
        left: auto;
        right: -20px;
      }

      .navbar-inverse .navbar-nav .dropdown-menu:before{
        position: absolute;
        top:0;
      }

      .navbar-inverse .navbar-nav .dropdown-menu > li > a {
        padding: 8px 15px;
        color: #fff;
        background: #2a2a2a;
      }

      .navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
      .navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
      .navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
        background-color: #2a2a2a;
        color: #fff;
      }

      .navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
        border-radius: 0 0 3px 3px;
      }

      .navbar-inverse .navbar-nav .dropdown-menu > li.divider {
        background-color: transparent;
      }

      .navbar-inverse .navbar-collapse,
      .navbar-inverse .navbar-form {
        border-top: 0;
        padding-bottom: 0;
      }
      .dropdown.lastmenu{
        margin-right:5px;
        float: right;
      }
      .dropdown.lastmenu>a{max-width: 160px;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;

     }
     .dropdown.lastmenu>a{min-width: 100px}

     .leaguemenu{
      margin-top: 15px;
    }
    .leaguemenu .dropdownleague{position: relative;}
    .leaguemenu .dropdownleague{width:280px; float: left; margin-right: 5px;}
    .leaguemenu .dropdownleague ul.dropdown-menu{  animation: initial; width: 100%;
     background-color: rgba(0,0,0,.85);
     -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
     box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
     border: 0;
     padding: 0;
     margin-top: 0;
     border-top: 0;
     border-radius: 0;
   }

   .leaguemenu .dropdownleague ul.dropdown-menu li a:hover{color:#eee;}

   .leaguemenu .dropdownleague a{
    background: #2a2a2a;
    display: block;
    width: auto;
    /*float: left;*/
    padding: 8px 15px;
    font-size: 15px;
    color: #fff;
    height:34px;


  }
  .leaguemenu .dropdownleague a:hover{background: #444;}
  .leaguemenu .dropdownleague a i.fa{
    margin-right: 5px;
    font-size: 25px;
    /* top: 5px; */
    display: block;
    float: left;
  }

  .leaguemenu .leaguelogo{width: auto; height: 35px; float:left;}
  .leaguemenu .leaguelogo img{height: 35px;}

  .leaguetitle{    float: left;
   width: auto;
   margin-top: 2px;
   margin-left: 5px;}
   .clublist{margin-top: 15px; background: #f5f5f5; min-height: 55px; }
   .clublist ul.clublistinner{margin: 0; padding: 0;}
   .clublist ul.clublistinner li{display: inline-block; float: left;}
   .clublist ul.clublistinner li a img{width: 55px; height: 55px;     padding: 5px;}

   .clubscore{margin-top: 15px; background: #f5f5f5; padding: 0px; overflow: hidden;}
   .clubscore ul.clubscoreinner{margin: 0; padding: 0px; margin-right: -2px;}
   .clubscore ul.clubscoreinner li{display: inline-block; float: left; width: 10%; border-right: 1px solid #aaa;}
   .clubscore ul.clubscoreinner li a{font-size: 13px; padding: 0px 7px; color:#222; display: block;}
   .clubscore ul.clubscoreinner li a span{float: right; margin-right: 0px;}

   @media (max-width: 1200px) {
    .search form{width: 170px;}
    .clubscore ul.clubscoreinner li{width: 20%;}
  }

  @media (max-width: 767px) {
    body>.container{padding: 0px;}
    .rightman{
      width: 80px;
    }
    .sitelogo{margin-top: 25px;}
    .sitelogo img{width: 80px;}
    .social-share{margin-top: 10px;}
    .dropdown.lastmenu{
      margin-right: 0px;
      float: left;
    }
    .container > .navbar-header, .container > .navbar-collapse{overflow: visible;}
    .search form{width: 100%;}
    .search{width: 100%;}
    .social.socialright{bottom: 16px;}
    .clubscore ul.clubscoreinner li{width: 33.333%;}
    .rightman .footyouter{right: 0%;}
    .dropdown.lastmenu>a{max-width: 100%}
    .clublist ul.clublistinner li a img{width:40px; height: 40px;}
  }







/*************************
*******Login Page******
**************************/

body.loginpage{
  margin: 0; padding: 0; background-color: #26512f;
  background: url(../images/loginbg.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
body.loginpage>.container{background: transparent; margin-top: 80px;}
.loginbox{background: rgba(0, 0, 0, 0.42);}
.loginbox h2{color:#fff; width: 100%; text-align: center;padding-top: 50px; margin-bottom: 0; font-size: 42px; font-weight: 600;}
.loginbox h3{color:#fff;width: 100%; text-align: center;font-size: 30px; margin-top: 5px; }
.loginbox .loglabel{color:#fff;width: 100%; text-align: center;font-size: 16px; margin-top: 25px; }
.loginbox .invalidfields{color:#fff;width: 100%; text-align: center;font-size: 16px; margin-top: 10px; color: #ff4444; display: none; }
.loginbox .validfields{width: 100%; text-align: center;font-size: 16px; margin-top: 10px; color: #4cae4c; display: none; }
.loginbox .loginfield{width: 100%; margin-top: 5px; margin-bottom: 20px; text-align: center;}
.loginbox .loginfield input{width: 240px; background: #d7d7d7; border: 0;    padding: 2px 8px;    text-align: center;}
.loginbox .loginfield .btnlogin{width: 150px; background: #d7d7d7; border: 0;    padding: 2px 8px;
  text-align: center;    margin: 0 auto; color:#222; cursor: pointer;}
  .loginbox .loginfield .btnlogin:hover{background: #c7c7c7}
  .loginbox  .socialloginbuttons{width: 90px; background: #d7d7d7;margin: 0 auto; padding: 3px 7px; margin-top: 5px; }
  .loginbox .socialloginbuttons .btnfacebook{    width: 28px;
   height: 27px;
   background: #3a5897;
   display: block;
   color: #fff;
   text-align: center;
   padding: 3px; float: left;}
   .loginbox .socialloginbuttons .btnfacebook:hover{background: #506eac;}
   .loginbox .socialloginbuttons .btntwitter{    width: 28px;
    height: 27px;
    background: #3e97d5;
    display: block;
    color: #fff;
    text-align: center;
    padding: 3px; float: right;}
    .loginbox .socialloginbuttons .btntwitter:hover{background: #5ea9dd;}
    .loginbox .footerlogo{text-align: center; margin-top: 25px;}
    .loginbox .footerlogo img{width: 80px;}
    .loginfield select{width: 240px; background: #d7d7d7; border: 0;    padding: 2px 8px;    text-align: center;}
    .forgotlink{    font-size: 11px;
      color: #ebebeb;
      text-align: center;
      cursor: pointer;}
      .forgotlink:hover{text-decoration: underline;}

      @media (max-width: 767px) {
        body.loginpage>.container{background: transparent; margin-top: 0px;}
        body.loginpage{background-size: auto 100%;}
        body.loginpage .col-md-8{margin: 0; padding: 0; min-height:0px;}
      }

      .user{position: relative; float: left; width: 100%;
        margin-right:4%; margin-bottom: 5px;}

        .user .manouter{border-radius: 50%;
          overflow: hidden; }
          .user .manouter img{width: 100%;}
          .user .footyouter{width:40%; border-radius: 50%;
            border: 1px solid #CCCCCC; overflow: hidden; position: absolute;
            bottom: 0%;
            right: -0%;
            background: #fff;

            -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.69);
            -moz-box-shadow:    0px 5px 11px 0px rgba(50, 50, 50, 0.69);
            box-shadow:         0px 5px 11px 0px rgba(50, 50, 50, 0.69);
          }
          .user .footyouter img{width: 100%;}
          .user .footyouter .footyinner{padding: 0%;}
          .articleheader{margin-top: 15px;}
          .box1{}
          .box1 .boxheader{background: #3d3d3d; color: #fff; text-align: center; padding: 3px; font-size: 16px;}
          .box1 .boxcontent{background: #f5f5f5; padding: 10px;}
          .victory{margin-top: 15px;}
          .victory img{width: 100%;}
          .victory .col-md-3{    width: 22%;
           padding-left: 10px;
           padding-right: 10px;}
           .borderbutton{border: 1px solid #bbb;
            border-radius: 1px;
            padding: 5px 5px 2px 5px;
            margin: 5px;
            width: auto;
            float: left;
            background: #f5f5f5;
            text-align: center;
            min-width: 60px;
            margin-right: 10px;
            cursor: pointer;
            display: block;
            color:#222;
          }
          .borderbutton:hover{background: #efefef;}
          .borderbutton.disabled{cursor:default; background:#e5e5e5;}
          .teamheader{position: relative;}
          .teamheader img{width: 100%;}
          .teamheader .logo{
            position: absolute;
            width: 24%;
            right:37px;
            top: 10px;

          }
          .teamheader .sociallinks{
            width: auto;
            right: 0px;
            top: 0px;
            background: #000;
            position: absolute;
            padding: 3px;
          }
          .teamheader .sociallinks  a{
            display: block;
            float: none;
            width: 25px;
            height: 25px;
            color: #fff;
            margin-bottom: 10px;
            margin-top: 5px;
            text-align: center;
            padding-top: 1px;
            cursor: pointer;
          }
          .teamheader .sociallinks  a:last-child{margin-right: 5px;}
          .teamheader .sociallinks  a.facebook{background: #3a5897;}
          .teamheader .sociallinks  a.twitter{background: #5ea9dd;}
          .teamheader .sociallinks  a.insta{background: #a4745a;}
          .teamheader .sociallinks  a.feed{background: #e26f2c;}
          .articlecontent{margin-top: 15px;}
          .articleupper{position: relative;}
          .articleupper img{width: 100%;}
          .articleupper .articletitle{position: absolute; bottom: 0; left: 0; background: rgba(0,0,0,.5); padding: 10px; width: 100%;}
          .articleupper .articletitle h1{color: #fff; font-size: 24px; margin: 0; line-height: 26px;}
          .articledata{background: #f5f5f5; padding: 10px; margin-top: 10px;}
          .articlestrip{font-size: 20px; color: #222; clear: both; height: 30px;}
          .articlestrip .commentcount{float:right; width: auto; margin: 5px;}
          .articlestrip .viewcount{float:right; width: auto; margin: 5px; margin-right: 15px;}
          .articledata .articletext{font-size: 13px;}
          .articletags {margin-top: 15px;}
          .articletags div{    background: #d7d7d7;
           padding: 0px 8px;
           color: #555;
           display: inline-block;
           width: auto;
           margin-right: 5px;
           font-size: 13px;
           line-height: 21px;
         }
         .articlecommentbox {background: #f5f5f5; margin-top: 25px; }
         .articlecommentbox textarea{border: 1px solid #e5e5e5; padding:5px 10px; width: 100%; background: transparent; min-height: 150px;}
         .articlecommentbox .borderbutton{width: 150px; float: right; margin-right: 0; cursor: pointer;}
         .poll{margin-top: 15px; position: relative; margin-bottom: 15px; display: table; width:100%;}
         .poll img{width: 100%;}
         .poll .polloptions{ width:100%; margin-bottom: 30px; display:table; }
         .poll .polltitle{width: 100%; padding: 5px; background: rgba(0,0,0,.5); color: #fff; font-size: 16px; margin-top: 20px; text-align: center;}
         .poll .polloption{width: auto; padding:10px; background: rgba(0,0,0,.5); color: #fff; font-size: 22px; text-align: center; cursor: pointer; margin-top: 5px; margin-left: 5px; margin-right:5px;}
         .poll .polloptioncon:first-child .polloption{margin-left: 10px;}
         .poll .polloptioncon:last-child .polloption{margin-right: 10px;}
         .poll .polloption:hover{background: rgba(0,0,0,.7);}
         .poll .polloption.option1{left: 20%;}
         .poll .polloption.option2{right: 20%;}
         .leftadd{ margin-bottom: 15px;}
         .leftadd img{width: 100%;}
         .rightpanel{background: #f5f5f5;  padding: 10px; margin-bottom: 15px;}
         .rightpanel .panelheader{background: #2a2a2a; padding: 5px; font-size: 20px; color: #fff; text-align: center; }
         .newshead{width: 100%; overflow: hidden; height: auto; background: #fff; cursor: pointer; margin-top: 10px;}
         .newshead:hover{background: #fafafa;}
         .newshead .leftsection{width: 130px; float: left; max-height: 80px; overflow:hidden; }
         .newshead .leftsection img{width: 100%;}
         .newshead .rightsection{margin-left: 135px; line-height: 16px; font-size: 14px; padding: 5px; font-weight: 600; padding-top: 5px; color: #555; padding-bottom: 0; }
         .promoted{margin-bottom: 15px;}
         .promoted ul{margin: 0; padding: 0; border-bottom: 1px solid #aaa;}
         .promoted ul li{margin: 0; padding: 0; display: block;}
         .promoted ul li a{ display: block;;padding: 5px; color: #000; background: #f5f5f5; border: 1px solid #aaa; border-bottom: 0;    overflow: hidden;
           display: block;
           text-overflow: ellipsis;
           white-space: nowrap;}
           .promoted ul li:nth-of-type(2n-1) a{background: #b7b7b7;}
           .promoted ul li:first-child a{cursor: default;}
           .promoted ul li a:hover{background: #fafafa; }
           .promoted ul li:nth-of-type(2n-1) a:hover{background: #bfbfbf;}
           .longadd{width: 100%;clear: both; margin-bottom: 15px;}
           .newspanel{background: #f5f5f5;  padding: 0px; margin-bottom: 15px;}
           .newspanel .panelheader{background: #2a2a2a; padding: 5px; font-size: 18px; color: #fff; text-align: center; }
           .articlevideo{width:100%; min-height:400px;}
           @media (max-width: 767px) {
            .articlevideo{width:100%; min-height:250px;}


          }

          /*Home Page*/
          .homefirstcol{margin-top: 15px; margin-bottom: 15px;}
          .homeslider{position: relative; margin-bottom: 14px; max-height: 437px; overflow: hidden;}
          .homeslider img{width: 100%;}
          .homeslider h2{color: #fff; text-shadow:2px 2px #222; margin: 0; font-size: 62px; position: absolute; bottom: 30%; margin-left: 50px;

           overflow: hidden;
           text-overflow: ellipsis;
           display: -webkit-box;
           -webkit-line-clamp: 3;
           -webkit-box-orient: vertical;

         }
         .sliderfooter{position: absolute; bottom: 0px; width: 100%;  background: rgba(0,0,0,0.3);}
         .sliderfooter .line{height: 3px; background:#fff;}
         .sliderfooter .uname{color:#fff; font-size: 14px; width: auto; margin-left: 8px; float: left; padding:5px; margin-top: 0px;}
         .sliderfooter .uimage{width: 25px; height: 25px; overflow: hidden; border-radius: 20px; margin-left: 5px;  float: left;}
         .sliderfooter .uimage img{width: 100%;}
         .sliderfooter .uviews{color:#fff; font-size: 18px; width: auto; margin-right: 8px; float: right; padding:5px; margin-top: 0px;}
         .sliderfooter .ucomments{color:#fff; font-size: 18px; width: auto; margin-right: 8px; float: right; padding:5px; margin-top: 0px;}
         .homeslidersmall{position: relative; max-height: 130px; overflow: hidden; }
         .homeslidersmall img{width: 100%;}
         .homeslidersmall .smalltitle{width: 100%;  background: rgba(0,0,0,0.3); position: absolute; bottom: 30%; color: #fff; font-size: 18px; padding-left: 20px;
           overflow: hidden;
           text-overflow: ellipsis;
           display: -webkit-box;
           -webkit-line-clamp: 3;
           -webkit-box-orient: vertical;

         }
         .slidersmall {margin: -8px;}
         .slidersmall .col-md-4{padding: 8px;}

         .writerboard{background: #4681a0; border-radius: 3px; min-height: 567px; overflow: hidden; }
         .writerboard .boardheader{font-size: 20px; color:#fff; padding: 20px 15px;}
         .writerboard table a{color:#fff;}
         .writerboard .boardheader a{font-size: 12px; float: right; padding: 1px 25px; background: #3db39e;color:#fff;}
         .writerboard .boardheader a:hover{background: #48c2ac;}
         .postable{}
         table.table.postable tr th{background: #386780; color: #fff; border: 0px; font-size:12px; border-top:0px;padding: 10px 12px;}
         table.table.postable tr td{background: #538aa7; color: #fff; border: 0px; font-size:12px; border-top:0px;padding: 10px 12px; border-right: 2px solid #a9c4d3;}
         table.table.postable tr td:last-child{border: 0;}
         table.table.postable tr:nth-of-type(2n-1) td{background: #427997;}
         .boarduser{width: 24px; height:24px; overflow: hidden; border-radius:12px;    display: block;    float: right;     margin: -4px 0px;}
         .boarduser img{width: 100%;}
         table.table.postable tr td span.symbol{float: right;display: block; width: auto;}
         table.table.postable tr td span.symbolup{float: right;display: block; width: auto; overflow: hidden; height: 12px;}
         table.table.postable tr td span.symboldown{float: right;display: block; width: auto; overflow: hidden;     height: 23px;
           margin-top: -9px;}
           table.table.postable tr td .fa-circle{font-size: 8px; color: #6294af;}
           table.table.postable tr td .fa-sort-up{font-size: 24px; color: #3db39e;}
           table.table.postable tr td .fa-sort-down{font-size: 24px; color: #e2574c;}

           .strip{margin-bottom: 15px;}
           .strip .blacklabel{background: #2a2a2a; color:#fff; font-size: 16px; padding: 6px; text-align: center; width:100%; float: left; }
           .stripicons{background: #f5f5f5; display: table; width: 100%; padding: 3px;}
           .stripicons img{width:29px; height: 29px; display: block; float: left; margin-left: 5px; }
           .row.trendnews{margin: 0;}
           .trendnews>.col-md-4,.trendnews>.col-md-8{padding: 0; margin: 0;}
           .tnewsblock{position: relative;}
           .tnewsblock{overflow:hidden; max-height:298px;}
           .tnewsblock img{width: 100%;}

           .tnewsblock .tnbfooter{position: absolute; bottom: 0; left:0; width: 100%; background: rgba(255,255,255,.7);}


           .tnbfooter .heading{color:#222; font-size:28px; width: auto; margin-left: 8px; float: none; clear: both; font-weight: bold; padding:5px; padding-top: 10px;}
           .tnbfooter .uname{color:#222; font-size: 16px; width: auto; margin-left: 8px; float: left; padding:5px; padding-top: 3px; margin-top:0px;}
           .tnbfooter .uimage{width: 26px; height: 26px; overflow: hidden; border-radius: 13px; margin-left: 5px; float: left;}
           .tnbfooter .uimage img{width: 100%;}
           .messagesview .commetsingle .comcontent .comheader{color:#555; font-size:16px;}
           .messagesview .commetsingle .comcontent .comdate{ font-size: 12px;
            margin-top: 2px;
            color: #999;
            width: auto;
            float: right;
            font-weight: 400;}

            .editimage{position:absolute; width:auto; right:0; top:0; padding:0px 5px; background: rgba(0,0,0,.5); cursor: pointer; color:#fff; font-size:11px; }
            .editimage:hover{background: rgba(0,0,0,.7) ;}

            .editimagekloader{width:20px; height: 20px; position: absolute; left:44%; top: 44%; }
            .editimagekloader img{width:100%;}

            @media (max-width: 767px) {
              .homeslider h2{margin-left: 10px; font-size: 32px; }
              .homeslidersmall{position: relative; max-height: 200px; overflow: hidden; }
              .writerboard{min-height: 0 !important; margin-bottom: 15px;}
            }











            /*Article List*/
            .btnblack{
              background: #2a2a2a;
              padding: 7px;
              width: 100%;
              color: #fff;
              text-align: center;
              font-size: 16px;
              cursor: pointer;
            }
            .btnblack:hover{background: #444;}
            .searchtext input{
              width: 100%;
              padding: 6px;
              background: #fff;
              border: 1px solid #e5e5e5;
            }
            .searchtext{   float: none;    width: auto;    overflow: hidden;}
            .searchbox{height: auto; overflow: hidden;background: #f5f5f5; padding: 5px;}
            .searchbox .searchbtn{ width: 110px;    float: right;}
            .singlearticle{background: #f5f5f5; margin-bottom: 15px; padding: 6px;}
            .singlearticle img{width: 100%;}
            .singlearticle h3{font-size: 20px; color:#222; margin: 0;    line-height: 20px; margin-bottom: 5px;}
            .articlestrip a.viewall{    display: block;
              padding: 2px 20px;
              color: #222;
              border: 1px solid #ccc;
              width: auto;
              float: right;
              font-size: 14px;
              margin-left: 15px;
              background: #eee;
            }
            .articlestrip a.viewall:hover{background: #f5f5f5;}
            .articlestrip .uname{color:#666; font-size: 14px; width: auto; margin-left: 0px; float: left; padding:5px; padding-top: 2px; margin-top:0px; padding-left: 0; }
            .articlestrip .uimage{width: 26px; height: 26px; overflow: hidden; border-radius: 13px; margin-left: 5px; float: left;}
            .articlestrip .uimage img{width: 100%;}
            .singlearticle .articlestrip .viewcount {margin-top: 2px;}
            .singlearticle .articlestrip .commentcount {margin-top: 2px;}
            .pagination{
              margin: 10px 0;
            }
            .pagination li{
              cursor: pointer;
            }
            .pagination li.active span{
              background-color: #222;
              border-color: #ccc;
            }
            .pagination li.active span:hover{
              background-color: #222;
              border-color: #ccc;
            }
            .commetsingle{margin-bottom: 10px; height: auto; overflow: hidden;}
            .commetsingle .comimage{width:50px; height:50px; overflow:hidden; border-radius:25px; float: left;}
            .commetsingle .comimage img{width:100%; }
            .commetsingle .comcontent{margin-left: 65px; padding:8px; background: #f5f5f5; position: relative;}
            .commetsingle .comcontent .arraowleft{
              width: 0;
              height: 0;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-right:10px solid whitesmoke;
              position: absolute;
              left: -10px;
              top: 16px;
            }

            .commetsingle .comcontent .comheader{font-size:18px; color:#222; font-weight: 500; margin-bottom: 5px; }
            .commetsingle .comcontent .comheader .comdate{font-size:12px; margin-top:1px; color:#999; width: auto;  float:right; font-weight: 400; }
            .commetsingle .comcontent .comtext{ font-size: 14px;line-height: 18px;color: #797979; min-height: 30px;}
            section{overflow:hidden;}
            h2.subheading{padding-left:5px;}
            .loadmore{margin-top: 10px; margin-bottom: 15px; padding: 6px; background: #f5f5f5; border:1px solid #e5e5e5; color:#666; text-align: center; cursor:pointer;}
            .loadmore:hover{background:#e5e5e5; }
            .loaderview{height: 36px; margin-top: 10px; margin-bottom: 15px;  text-align: center; overflow: hidden; display: none; }
            .loaderview img{  width: 200px;
              margin-top: -61px; }
              .loading .loadmore{display:none;}
              .loading .loaderview{display:block;}

              table.table.postable.small tr th{padding: 5px 8px;}
              table.table.postable.small tr td{padding: 5px 7px;}
              table.table.postable tr.yellow td{background: #ebb826;}
              table.table.postable tr.red td{background: #fb0f0d;}
              table.table.postable.small {margin-bottom: 0px;}
              .homepoll{position: relative; margin-bottom: 10px; display: table; width:100%;}
              .homepoll img{width: 100%;}
              .homepoll .content{ width: 100%; margin-top: 10px; margin-bottom: 0px; min-height: 536px;}
              .homepoll .content .text{padding: 20px 10px; text-align: center; width: 92%; font-size: 26px; color:#fff; border: 3px solid #fff; margin: 0 auto; border-radius: 5px; margin-top: 30px;}
              .homepoll .content .button{padding: 20px 10px; text-align: center; width: 92%; font-size: 36px; color:#fff; border: 3px solid #fff; margin: 0 auto; border-radius: 5px; margin-top: 40px; cursor: pointer;}
              .homepoll .content .button.firstbutton{margin-top: 10px;}
              .homepoll .content .button:hover{background: rgba(0,0,0,.5); border: 3px solid #aaa;}
              .homepoll .sociallinks{
                width: auto;
                bottom: 0px;
                left: 0px;
                background: #000;
                position: absolute;
                padding: 3px;
                left:30%;
              }
              .homepoll .sociallinks  a{
                display: block;
                float: left;
                width: 35px;
                height: 35px;
                color: #fff;
                margin-right: 10px;
                margin-left: 5px;
                text-align: center;
                padding-top: 5px;
                cursor: pointer;
                font-size: 22px;
              }
              .homepoll .sociallinks  a:last-child{margin-right: 5px;}
              .homepoll .sociallinks  a.facebook{background: #3a5897;}
              .homepoll .sociallinks  a.twitter{background: #5ea9dd;}
              .homepoll .sociallinks  a.insta{background: #a4745a;}
              .homepoll .sociallinks  a.feed{background: #e26f2c;}
              .homeclubnews .newshead .rightsection{margin-top: 15px; overflow: hidden; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
              .gallery img{width: 100%;}
              .gallery .largevideo{max-height: 268px; overflow: hidden;}
              .gallery .largevideo iframe{height: auto; margin-top: 0;min-height: 268px;max-height: 268px;;}
              .gallery .smallvideo{position: relative;}
              .gallery .smallvideo i.fa{font-size: 28px; position: absolute; top:40%; left: 40%; color: #cc1d1d; 
                webkit-transition: color 500ms, background-color 500ms;
                -moz-transition: color 500ms, background-color 500ms;
                -o-transition: color 500ms, background-color 500ms;
                transition: color 500ms, background-color 500ms; }
                .gallery .smallvideo:hover{opacity: 0.9;}
                .gallery .smallvideo:hover i.fa{font-size: 28px; position: absolute; top:40%; left: 40%; color: #fff;;  }
                .gallery .row{margin: 0 -5px;}
                .gallery .row .col-md-6,.gallery .row .col-md-3{padding: 0 5px;}
                .gallery .row .col-md-3 .smallvideo{ cursor: pointer;}
                .gallery .row .col-md-3 .smallvideo:first-child{margin-bottom: 8px;}
                .gallerynav{margin-top: 8px;}
                .gallerynav{height: auto; overflow: hidden;}
                .gallerynav .btnpre,.gallerynav .btnnext{display: block; color: #fff; font-size: 12px; background: #222; padding: 2px; width: 100px; cursor: pointer; text-align: center; }
                .gallerynav .btnpre:hover,.gallerynav .btnnext:hover{background: #444;}
                .gallerynav .btnnext{float: right;}
                .gallerynav .btnpre{float: left;}
                .gallerynav .gallerttext{margin: 0 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0 5px; padding-top: 2px;}
                @media (max-width: 767px) {
                  .gallerynav{margin-bottom: 10px;}
                }

                /*Profile Page CSS*/
                .userprofile{background: #f5f5f5; margin-top: 15px; margin-bottom: 15px; padding: 5px;}
                .userprofile .user{margin-top: 15px;  margin-left: 15px;}
                .userprofile h2{margin:0;text-align: right; font-size: 22px;}
                .userprofile p{ font-size: 16px; margin: 0;}
                .clublogo{padding: 5px;}
                .clublogo img{width: 100%;}
                .clubrank{font-size: 28px; font-weight: 500; text-align: center; margin-bottom: 5px;}
                .prorightcon{position: relative;}
                .profootercon{position: absolute; width: 100%; left: 0; bottom: 0; }
                .profootercon ul{margin: 0; padding: 0;}
                .profootercon ul li{margin: 0; padding: 4px 10px; display: inline-block; padding-bottom: 0;}
                .profootercon ul li .proval{font-size: 28px; text-align: center;}
                .profootercon ul li .prolabel{font-size: 12px; text-align: center;}
                .profilenav{background: #f5f5f5; margin-bottom: 15px; display: table; width: 100%;}
                .trophyicon{width: auto; float: left; padding: 5px; }
                .trophyicon img{height: 32px; }
                .leftpanel{background: #f5f5f5;  padding: 0px; margin-bottom: 15px;}
                .leftpanel .panelheader{background: #2a2a2a; padding: 5px; font-size: 16px; color: #fff; text-align: center; }
                .leftpanel .panelcontent{padding: 5px; }
                .followercon{width: 100%; overflow: hidden; border-radius: 50%; padding: 0px;}
                .followercon img{width: 100%;}
                .followerconout{width: 28%; float: left; margin: 2.5%; }
                .galleryconout {width: 44%; float: left; margin: 3%; }
                .galleryconout img{width: 100%;}



                .feedpoll{position: relative; margin-bottom: 10px; display: table; width:100%;}
                .feedpoll img{width: 100%;}
                .feedpoll .content{ width: 100%; margin-top: 10px;}
                .feedpoll .content .text{padding: 10px 5px; text-align: center; width: 92%; font-size: 18px; color:#fff; border: 3px solid #fff; margin: 0 auto; border-radius: 5px; margin-top: 20px;}
                .feedpoll .content .button{padding: 10px 5px; text-align: center; width: 92%; font-size: 20px; color:#fff; border: 3px solid #fff; margin: 0 auto; border-radius: 5px; margin-top: 20px; cursor: pointer;}
                .feedpoll .content .button:hover{background: rgba(0,0,0,.5); border: 3px solid #aaa;}
                .feedpoll .content .button:last-child{margin-bottom: 15px;}
                @media (max-width: 767px) {
                  .userprofile h2{text-align: center; width: 100%;}
                  .userprofile .col-md-4.pull-right{width: 100%; margin: 0; padding: 0;}
                  .userprofile .clublogo{float: left; width: 50%;}
                  .userprofile .clubrank{float: left; width: 50%; margin-top: 30px;}
                  .profootercon{position: relative; margin-top: 15px;}
                }

                .modal-dialog img{width:100%;}


                .feedposter{background: #f5f5f5;padding: 5px; position: relative; }
                .postercon{height: auto; overflow: hidden; }
                .postercon .feeduser{width: 50px; height: 50px; float: left; border-radius: 5px; padding: 3px; border: 1px solid #e5e5e5; position: relative; }
                .postercon .feeduser .arrow{
                  position: absolute;
                  width: 0;
                  height: 0;
                  border-top: 10px solid transparent;
                  border-bottom: 10px solid transparent;
                  border-left: 14px solid #e5e5e5;
                  right: -14px;
                  top: 10px;
                }
                .postercon .feeduser .arrow1{
                  position: absolute;
                  width: 0;
                  height: 0;
                  border-top: 8px solid transparent;
                  border-bottom: 8px solid transparent;
                  border-left: 13px solid #f5f5f5;
                  right: -13px;
                  top: 12px;
                }
                .feeduser img{width: 100%; }
                .feedtextcon{ margin-left: 65px; }
                .feedtextcon textarea{border: 1px solid #e5e5e5; width: 100%; min-height: 70px; font-size: 12px;color:#666; padding: 5px;outline: none; resize: none;   overflow: hidden; line-height:17px; }
                .feedbutton{font-size: 12px;color:#777; padding: 2px 10px 0px 10px; background: #f0f0f0; float: left; margin-right: 5px; border: 1px solid #d5d5d5; line-height: 20px;}
                .feedbutton:hover{background: #e5e5e5; cursor: pointer;}
                .feedaction{margin-top: 4px;height: 23px;}
                .feedposter .line{width: 100%; background: #eaeaea; height: 1px; margin-top: 4px;}
                .uploadpouter{height: 3px; background: #d5d5d5;}
                .uploadpouter .uploadpinner{height: 3px; background: #222;}
                .waiting{width: 100%; height: 100%; position: absolute; background: rgba(255,255,255,.2); position: absolute; top: 0; left: 0; display: none; }
                .waiting img{idth: 20px;
                 top: 34%;
                 left: 45%;
                 position: absolute;}
                 .saving .waiting,.loading .waiting{display: block;}
                 .feedfilename{color:#777; font-size: 12px; padding-top:0px; float: left; width: auto; margin-left: 2px;}
                 .feedcontainer{margin-top: 15px;}
                 .feedsingle{background: #f5f5f5;padding: 5px; position: relative;  margin-bottom: 15px;}
                 .feedsingle .feedhead{margin-left: 55px; position: relative; }
                 .feedsingle .feedhead .username{font-size: 18px; color: #333; padding-top: 3px; }
                 .feedsingle .feedhead .feedtime{font-size: 12px; color: #999; }
                 .feedsingle .feedhead .dropdown-toggle{position: absolute; right: 0px; top: -5px;  }
                 .feedsingle .feedhead .dropdown-menu{padding: 0; min-width: 50px; top:25px;  }
                 .feedsingle .feedhead .feedmenu{ color:#999; width: 20px; height: 20px; text-align: center; font-size: 22px; cursor: pointer; }
                 .feedsingle .feedhead .feedmenu:hover{color:#555;}
                 .feedsingle .feedheader .postercon{overflow: visible;}
                 .feedmiddle{clear: both; font-size: 13px; color: #555; line-height: 14px; padding: 5px; }
                 .feedimage{max-height: 300px;
                   overflow: hidden;}
                   .feedimage img{width: 100%;}
                   .feedsummary{font-size: 12px; color:#777; padding:0px 5px;}
                   .footeractionbtn{font-size: 12px; color:#888; padding: 3px 20px; float: left; width: auto; margin:0 0px; }
                   .footeractionbtn:hover{color:#222; cursor: pointer; background: #e5e5e5;}
                   footeractionbtn.blue{color:#0099cc;}


                   .feedfooter {clear: both; }
                   .feedfooter .line{height: 1px; clear: both; background: #eaeaea;}
                   .commentsingle{margin:3px 0; margin-bottom:5px;}
                   .commentsingle .comdate{width:auto; float:right; color:#999; font-size: 11px; padding-top: 1px; margin-right: 5px;}
                   .feedfooter .commentsingle:first-child{margin-top: 5px;}
                   .commentsingle .comuser{    width: 40px;height: 40px;float: left;border-radius: 5px;padding: 2px;border: 1px solid #e5e5e5;position: relative;}
                   .commentsingle .comuser img{width:100%;}
                   .commentsingle .commenttext{margin-left:45px; padding:1px; font-size:12px; line-height:14px;}
                   .commentsingle .commenttext .comuname{font-size:12px; line-height:14px; color:#222;height: 18px; margin-top:0px;}
                   .commentsingle .commenttext .comuname .remove{    font-size: 13px; color: #999;
                    line-height: 14px; 
                    float: right;
                    width: 16px;
                    height: 20px;
                    text-align: center;
                    float: right;
                    padding: 4px;padding-top: 0;  cursor: pointer;}
                    .commentsingle .commenttext .comuname .remove:hover{color:#555;}
                    .commentsingle .commenttext .line{margin-top:5px;}
                    .fcpostouter{height: auto; margin-top:5px;}
                    .fcpostouter .comuser{width: 30px;
                      height: 30px;
                      float: left;
                      border-radius: 3px;
                      padding: 1px;
                      border: 1px solid #e5e5e5;
                      position: relative;}
                      .fcpostouter .comuser img{width:100%;}
                      .fcpostouter .commenttext{margin-left: 35px; position:relative;}
                      .fcpostouter textarea{border: 1px solid #e5e5e5; width: 100%; min-height: 30px; font-size: 12px;color:#666; padding: 4px 5px; padding-top: 6px; outline: none; resize: none;   overflow: hidden; line-height:17px;}
                      .btnpostcomment{margin-top:3px; float:right;     font-size: 11px;color: #777;    padding: 7px 10px 3px 10px;    background: #f0f0f0;border: 1px solid #d5d5d5; line-height: 10px; cursor:pointer; }
                      .btnpostcomment:hover{background:#e5e5e5;}
                      @media (max-width: 767px) {
                        .btnpostcomment{display: block;}
                      }
                      textarea:disabled{background:#efefef;}
                      body.modal-open{
                        padding-right: 17px;
                      }
                      iframe{
                        width: 100%;
                        margin: 0px 0px;
                        border: 0;
                        min-height: 280px;
                      }
                      .more_comments{
                        font-size: 11.5px; margin-left: 5px;margin-bottom: 5px;cursor: pointer;
                      }

                      .modal-content{border-radius: 0px;}
                      .modal-header{background: #333; padding: 8px 15px;}
                      .modal-header .modal-title{color:#fff;}
                      .modal-header .close{opacity: 0.4;}
                      .modal-header .close:hover{opacity: 0.6;}
                      .modal-header .close span{color:#fff;}
                      .modal-body{padding: 15px 20px;}
                      input,select,textarea,.form-control{
                        border-radius: 0px;
                        outline: #d5d5d5;
                        border: 1px solid #d5d5d5;
                        box-shadow: none;
                      }
                      .form-control:focus{box-shadow: none;}
                      .btn{
                        border-radius: 0px;
                        outline: none;
                        border: 0;
                        box-shadow: none;
                      }
                      .btn.btn-primary{border: 0;}
                      .btn.btn-primary:hover{background: #08913f;}
                      .btn.btn-secondary{border: 0;}
                      .btn.btn-secondary:hover{background: #cecece;}
                      .modal-footer{padding: 10px 15px; margin-top: 0;}

                      .jconfirm.jconfirm-white .jconfirm-box{border-radius: 0px !important; padding: 0px !important;}
                      .jconfirm.jconfirm-white .jconfirm-box .title-c{padding: 6px 11px !important; background: #333;}
                      .jconfirm.jconfirm-white .jconfirm-box .title-c .title{font-size: 16px;  color:#fff; padding-bottom: 0px;}
                      .jconfirm.jconfirm-white .jconfirm-box .content-pane{margin: 10px !important;}
                      .jconfirm.jconfirm-white .jconfirm-box .buttons{margin: 0 10px !important;}
                      .jconfirm.jconfirm-white .jconfirm-box .buttons .btn{text-transform: none;}
                      .jconfirm.jconfirm-white .jconfirm-box .buttons .btn.btn-default{background: #eee;}
                      .jconfirm.jconfirm-white .jconfirm-box .buttons .btn.btn-default:hover{background: #ddd;}

                      .stripicons a{display: block; float: left; width: 30px; height: 30px; border-radius: 15px; overflow: hidden; padding: 0; margin-left: 10px;}
                      .stripicons a img{display: block;  width: 100%; margin: 0; padding: 0;width: 30px; height: 30px; }
                      .clubinfo{background: #f5f5f5;position: relative;}
                      .clubinfoin{padding: 10px; }
                      .clubinfoin .clublogo{}
                      .clubinfoin .clublogo img{width:100%;}
                      .clubinfoin .clubmain{margin-bottom: 70px;}
                      .clubinfoin .clubmain h3{color: #d8020e; margin: 0; margin-bottom: 10px; margin-top: 5px; font-size: 24px; }
                      .clubinfoin .clubmain p{ color: #d8020e; margin: 0; padding: 0; }
                      .cinfofooter{position: absolute; bottom: 0px;; left: 0;}
                      .cinfofooter ul{margin: 0; padding: 0; margin-left: 0px; margin-bottom: 5px;}
                      .cinfofooter ul li{margin: 0; padding: 0;display: inline-block; margin-right: 15px; margin-left: 15px; text-align: center; color: #d8020e; }
                      .cinfofooter ul li .value{font-size: 28px; }
                      .noti_single .comdate{   
                        font-size: 12px;
                        margin-top:0px;
                        color: #999;
                        width: 100%;   
                        font-weight: 400;
                        text-align: right;
                        margin-bottom:-5px;
                      }
                      .noti_single{color:#555;}  
                      .singlewriter{margin-bottom:15px;}
                      .singlewriter{background:#f5f5f5;}
                      .singlewriter .clubname{font-size:12px; color:#777;}
                      .singlewriter h3{margin:5px 0px; font-size:22px; font-weight: 400; margin-bottom: 0; }
                      .singlewriter h3 a{color:#555;}
                      .singlewriter  .profootercon{position:relative; margin-top: 5px;}
                      .singlewriter .profootercon ul{width: auto; float:left;}
                      .singlewriter .profootercon ul li .proval{font-size: 22px; }
                      .singlewriter .rank{ display: block; width: auto; float: right; margin: 2px; color:#555; font-size: 18px; margin-right: 10px; }
                      .singlewriter .profootercon .borderbutton{padding-left: 10px;  padding-right: 10px; margin-top:5px; }
                      .singlewriter .profootercon .borderbutton:hover {color:#777; }
                      .addmedia{padding:0 15px;}
                      .youtubesec{height:auto; overflow:hidden; margin-bottom:5px;}
                      .youtubesec .btnYoutube {padding:4px; color:#e5e5e5; float: right; width:60px; text-align: center; 
                       border:1px solid #e5e5e5; border-left:0px;background:#f5f5f5; color:#555; cursor:pointer}
                       .youtubesec .btnYoutube:hover { background:#e5e5e5}
                       .youtubesec .txtBox{margin-right:60px; }
                       .youtubesec .txtBox input{width:100%; height:30px; border:1px solid #e5e5e5; padding: 5px 10px; height: 32px;}
                       .orsection{clear:both; text-align: center; margin-bottom:5px;}
                       .orsection span{width: 26px; height: 26px; background: #e5e5e5; border-radius: 13px; font-size:9px; text-align:center; display: block; padding-top: 3px;  margin: 0 auto;}
                       .imagesection {background: #f5f5f5; padding: 6px; text-align: center; cursor:pointer; margin-bottom: 15px;}
                       .imagesection:hover {background: #e5e5e5; }
                       .invalidYoutube{color:#ea1e1e; padding:0px; margin-bottom: 5px; display: none;}
                       .galletylist{padding:0px; margin-top:0px;}
                       .galletylist .galleryconout{width:31%; margin: 1%; margin-top:0; margin-bottom: 2%; height:132px; overflow: hidden;}
                       .panelcontent .galleryconout{max-height:65px; overflow: hidden; height:65px;}


                       .social-share ul.pull-dropdown{margin:0; padding:0; position:absolute; top:14px; left:-150px; width:300px;z-index:999;   display: none; padding-top: 30px;}
                       ul.social-share li:hover ul.pull-dropdown{display:block;}
                       .social-share ul.pull-dropdown li{margin:0; padding:0; display:block; ; padding:6px;background:#fff; border:1px solid #eee;border-top: 0px;}
                       .social-share ul.pull-dropdown li:hover{background:#e5e5e5;}
                       .social-share ul.pull-dropdown li:first-child{border-top: 1px solid #eee;}
                       .social-share ul.pull-dropdown li a{width:100%; display:block; background:#fff;min-height:40px; clear:both; border-radius:0px; -webkit-transition: none;
                        -moz-transition: none;
                        -o-transition: none;
                        transition: none;}
                        .social-share ul.pull-dropdown li:hover a{background:#e5e5e5;border-radius:0px;}
                        .social-share ul.pull-dropdown li.header{ padding: 3px 9px;    background: #333;    color: #fff;    margin: 0px; border: 0;}
                        .social-share ul.pull-dropdown li.footer{ padding: 3px 9px;    background: #f5f5f5;    color: #fff;    margin: 0px;  border: 0;}
                        .social-share ul.pull-dropdown li.footer a{color:#777;     color: #777;    min-height: auto;    border-radius: 0;    background: transparent;}
                        .social-share ul.pull-dropdown li.arraow-top{    
                          border: 0px;
                          position: absolute;
                          top: 15px;
                          left: 147px;
                          left: 51%;
                          border: solid transparent;
                          content: " ";
                          height: 0;
                          width: 0;
                          position: absolute;
                          pointer-events: none;
                          border-left: 10px solid transparent;
                          border-right: 10px solid transparent;  
                          border-bottom: 12px solid #333;
                          padding: 0;

                        }
                        .pd-outer{width:100%;}
                        .pd-outer .pd-image{width:40px; height:40px; float:left;}
                        .pd-outer .pd-image img{width:100%;}
                        .pd-outer .pd-content{margin-left:45px; text-align:left;}
                        .pd-outer .pd-content div{color:#666;text-align:left;}
                        .pd-outer .pd-content div.comdate{color:#999; font-size:11px; line-height:10px;text-align:right;}
                        .toplinks{clear:both; padding:10px; padding-right:0px;}
                        .toplinks.first{margin-top:30px;}
                        .toplinks a{    color: #fff;
                          display: block;
                          background: #333;
                          width: 100px;
                          text-align: center;
                          border-radius: 19px;
                        }
                        .toplinks a:hover{ background: #555;}
                        @media (max-width: 767px) {
                          .toplinks{clear:both; padding:5px; padding-right:0px;}
                          .toplinks.first{margin-top:0px;}
                          .toplinks a{ width: 80px;}
                        }

                        .carousel-control .fa{top:50%; position: absolute; }
                        .hs_heading{    color: #fbfbfb;
                          padding: 15px 15px;
                          padding-bottom:5px;
                          font-size: 16px;
                          line-height:10px;
                        }
                        .homeslider .uname{line-height:10px;}
                        .homeslider .uname a{color:#ccc;}


                        .commetsingle .remove {
                          font-size: 13px;
                          color: #999;
                          line-height: 14px;
                          float: right;
                          width: 16px;
                          height: 20px;
                          text-align: center;
                          float: right;
                          padding: 4px;
                          padding-top: 0;
                          cursor: pointer;
                          margin-top: 5px;
                          margin-left: 5px;
                        }
                        .fixedheader{position:fixed; top:0; left:0; width:100%; background:#2a2a2a; z-index: 9999; display: none;}
                        @media (min-width: 967px) {
                          .padding_0_desktop{padding:0 !important;}
                        }
                        .btneditcomment,.btncancelcomment{
                          float: right;
                          width: auto;
                          padding: 3px 6px 2px 6px;
                          border: 1px solid #d5d5d5;
                          margin-top: 3px;
                          line-height: 12px;
                          margin-left:5px;
                          cursor:pointer;
                          margin-bottom:3px;
                          color:#777;
                          font-size:12px;
                        }
                        .btneditcomment:hover,.btncancelcomment:hover{background:#e5e5e5;}
                        .com_edit_block>div{
                          display: table;
                          width: 100%;
                          border-bottom: 1px solid #e5e5e5;
                        }

                        .ff-head{margin-bottom: 15px;margin-top: 15px;}
                        .ff-head img{width: 100%;}
                        .searchdd{}
                        .ff-result{margin-bottom:10px;}
                        .ff-con{margin: -12px -10px;}
                        .ff-con2{margin: 0px -10px;}
                        .ff-single{width: 33.333%; float: left}
                        .ff-single2{width: 20%; float: left}
                        .ff-in{padding: 12px; position: relative;}
                        .ff-in .ff-image{position: relative;}
                        .ff-in .ff-image img{width:100%;}
                        .ff-in .ff-image a.ff_club{display: block; width: 20%;  left: 5px; top: 45px; position: absolute;}

                        .ff-name{position: absolute; bottom: 0; width: 100%; text-align: center; font-size: 14px; padding: 2px; background: rgba(255,255,255,.7); font-weight: 600;}
                        .ff-more{padding: 5px; background: #f5f5f5; border: 1px solid #e5e5e5; color:#555555; width: 100%; text-align: center; cursor: pointer; margin-bottom: 15px; }
                        .ff-more:hover{background: #e5e5e5;}
                        .ff-in .ff-image a.ff_follow{display: block; width: 14%;  left: 5px; top: 5px; position: absolute;margin-left: 3%; cursor: pointer;}
                        .ff-in .ff-image a.ff_follow:hover{background: rgba(0,0,0,0.07);}
                        .ff-in .ff-image div.ff_followed{display: block; width: 14%;  right: 5px; top: 5px; position: absolute;}


                        .ff-single-filtered{width: 33.333%; float: left; overflow: hidden; position: relative;}
                        .ff-single-filtered .ff-image{height: 200px; overflow: hidden; }
                        .ff-single-filtered img{width: 100%; }
                        .ff-single-filtered .ff-name {padding: 5px 0 0 5px; }
                        .ff-single-filtered .ff-name .pname{color:#333; font-size: 18px; text-align: left; white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
                        .ff-single-filtered .ff-name .pclub{color:#777; font-size: 14px; text-align: left; }

                        .footer{background: #222; color:#eee;}
                        .footerouter{padding:15px; padding-bottom: 8px;}
                        .footerouter img{width:100%;}
                        ul.footerlink{margin-left:15px; display:block; }
                        ul.footerlink li{margin-left:15px; display:block; }
                        ul.footerlink li a{display:block; }
                        .footerouter a{color:#eee;}
                        .footerline{border:1px solid #555; margin-bottom:8px;}
                        .navbar-header .navbar-toggle{float:left; margin-left:5px;}


                        .hide_mobile{}
                        .show_mobile{display:none;}
                        .mobile_dd{width:100px; float:right; margin-top: 15px;}

                        .mobile_dd .dropdown-menu{left:auto; right:0; border-radius:0; padding:0; top:35px;}
                        .mobile_dd .dropdown-menu li a{    padding: 8px 15px;
                         color: #fff;
                         background: #2a2a2a;}
                         .mobile_dd a{color: #fff;}
                         .mobile_search{width:155px; float:right;margin-top: 8px; margin-right: 10px; }
                         .mobile_search .search-form{padding-top:3px;padding-bottom:3px; }
                         .teamheader{overflow:hidden; height: 180px;}
                         @media (max-width: 967px) {
                          body>.container {
                            background: #fff;
                            margin-top: 0%;
                            padding: 0px 10px;
                          }
                          .hide_mobile{display:none !important;}
                          .show_mobile{display:block !important;}
                          .galletylist .galleryconout{height: auto; overflow: auto;}
                        }
                        .gallerycon{position: relative;}
                        .gallerycon .deletebtn{width:23px; height: 24px; position: absolute; top: 5px; right: 5px; background: #000; opacity: 0.5; cursor:pointer;}
                        .gallerycon:hover .deletebtn{opacity: 1;}
                        .gallerycon .deletebtn .fa{color:#fff;    margin: 5px 6px;}

                        .ff-menu{background: #eee; border: 1px solid #ddd; display: flex;}
                        .ff-menu .ff-menu-item{width:33.33%; float: left; border-right: 1px solid #ddd;  cursor: pointer;}
                        .ff-menu .ff-menu-item:hover{background: #d9d9d9;}
                        .ff-menu .ff-menu-item:last-child{ border-right: 0px;}

                        .ff-menu .ff-menu-item .ff-menu-title{text-align: center; padding: 3px;}

                        .ff-leaguges{position: relative;}
                        .ff-leaguges ul{position: absolute; width: 100%; margin: 0; padding: 0; top:0px; z-index: 99; display: none;}
                        .ff-leaguges ul li{margin: 0; padding: 0; background: #777; border-bottom: 1px solid #aaa; display: block; cursor: pointer;}
                        .ff-leaguges ul li:hover{background: #999;}
                        .ff-leaguges ul li a{display: block; padding: 2px;text-align: center; color:#fff;}
                        .ff-menu-item-league:hover .ff-leaguges ul {display: block;}
                        .ff-menu-item-club:hover .ff-clubs ul {display: block;}
                        .secondlevelouter{position: relative; }
                        .secondlevelouter .secondlevel{position: absolute; left:100%; display: none; top:-26px; border-left: 1px solid #aaa; }
                        .ff-leaguges ul li .secondlevelouter .secondlevel{display: none; }
                        .ff-leaguges ul li:hover .secondlevelouter .secondlevel{ display: block; }

                        .homeffpluscon{ display: table; width: 100%;}
                        .homeffplusitem{width:33.333%; float:left; position:relative; }
                        .homeffplusitem img{width:100%;}
                        .homeffplusitem .textname{position: absolute;
                          top: 0px;
                          left: 0px;
                          padding: 10px;
                          background:rgba(35, 32, 32, 0.46);;
                          width: 100%;
                          color: #fff;
                          font-size: 18px;
                        }
                        .homeffplusitem .textname .texttitle{


                          color: #d8d8d8;
                          font-size: 14px;
                        }
                        @media (max-width: 967px) {
                          .homeffplusitem{width: 100%; margin-bottom: 15px;}
                          .homeffplusitem:last-child{margin-bottom: 0px;}
                        }

                        #cke_88{display:none;}
                        #cke_90{display:none;}
                        #cke_35{display:none;}
                        #cke_85{display:none;}
                        #cke_73{display:none;}
                        #cke_77{display:none;}
                        .cke_toolbar_break{display:none !important;}

