@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


/*************************
*******Typography******
**************************/

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color:#4e4e4e;
    line-height: 22px;
    background: #265531;
    background-image:  url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;

}
body>.container{background: #fff; margin-top: 5%;padding: 0px 34px; margin-bottom: 50px;;}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600; 
    font-family: 'Open Sans', sans-serif;
    color:#4e4e4e;
}

h1{
    font-size: 36px;
    color:#fff;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
}

h4{
    font-size: 16px;
}

a {
    color: #c52d2f;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition:  color 300ms, background-color 300ms;
    transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
    color: #d43133;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}


.btn-primary {
    padding: 8px 20px;
    background: #c52d2f;
    color: #fff;
    border-radius: 4px;
    border:none;
    margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
    background: #c52d2f;
    outline: none;
    box-shadow: none;
} 

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

.center h2{
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.media>.pull-left{
    margin-right: 20px;
}

.media>.pull-right{
    margin-left: 20px;
}

body > section {
    padding: 70px 0;
}

.center {
    text-align: center;
    padding-bottom: 55px;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.transparent-bg {
    background-color: transparent !important;
    margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}


/*************************
*******Header******
**************************/

#header .search{
    display: inline-block;
}

.navbar>.container .navbar-brand{
    margin-left: 0;

}

.top-bar {
    padding: 10px 0;   
    border-bottom: 1px solid #222;
    line-height: 28px;
}
.sitelogo>a{display: block; float: left;}
.sitelogo img{width: 154px; display: block; float: left;}

.social{
    text-align: left;
    display: block;
    float: left;
}

.social-share{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-left: 10px;
}

ul.social-share li {
    display: inline-block;
    position: relative;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
}

ul.social-share li a:hover {
    background: #ae1e23;
    color: #fff;
}
.social-share a{position: relative;}
.social-share .badges{display:block; width: auto; padding: 3px 5px; color:#fff; background: #dc0808; border-radius: 12px; line-height: 12px; font-size: 12px; position: absolute;     top: -10px;    right: -5px;}
.social.socialright{    position: absolute;
                        left: -100px;
                        bottom: 5px;}
.sitelogo{margin-top: 35px;}
.rightman{position: relative; float: right; width: 120px;
          margin-right:4%;}

.rightman .manouter{border-radius: 50%;
                    border: 1px solid #00b2b2; overflow: hidden; }
.rightman .manouter img{width: 100%;}
.rightman .footyouter{width:40%; border-radius: 50%;
                      border: 1px solid #CCCCCC; overflow: hidden; position: absolute; 
                      bottom: 0%;
                      right: -15%;
                      background: #fff;

                      -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.69);
                      -moz-box-shadow:    0px 5px 11px 0px rgba(50, 50, 50, 0.69);
                      box-shadow:         0px 5px 11px 0px rgba(50, 50, 50, 0.69);
}
.rightman .footyouter img{width: 100%;}
.rightman .footyouter .footyinner{padding: 5%;}

.search i {
    color: #888;
    position: absolute;
    top: 0px; right: 3px;
    cursor: pointer;
    padding: 6px;
}
.search form{border-radius: 3px;background: #fff; position: relative;  overflow: hidden; margin-top: 2px; width: 285px;}
input.search-form{
    font-size: 13px;
    border: 0 none;
    width: 100%;
    padding: 3px 25px 2px 15px;
    color: #555;


}

input.search-form::-webkit-input-placeholder{
    color: #aaa;
}

input.search-form:hover::-webkit-input-placeholder {
    color: #aaa;
}



.navbar-brand {
    padding: 0;
    margin:0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #2a2a2a;
    padding: 0px 0;
    padding-bottom: 0;
}

.nav.navbar-nav{width: 100%;}

.navbar-nav>li{
    margin-right: 10px;
    padding: 18px 2px;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
    font-size: 13px;
}

.navbar-inverse .navbar-nav > li > a:hover{

    color: #fff;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background: #2a2a2a;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: rgba(0,0,0,.85);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: auto;
    right: -20px;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
    position: absolute;
    top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    padding: 8px 15px;
    color: #fff;
    background: #2a2a2a;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
    background-color: #2a2a2a;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-top: 0;
    padding-bottom: 0;
}
.dropdown.lastmenu{
    margin-right:5px;
    float: right;
}
.dropdown.lastmenu>a{max-width: 160px;
                     white-space: nowrap;
                     overflow: hidden;
                     text-overflow: ellipsis;

}
.dropdown.lastmenu>a{min-width: 100px}

.leaguemenu{
    margin-top: 15px;
}
.leaguemenu .dropdownleague{position: relative;}
.leaguemenu .dropdownleague{width:280px; float: left; margin-right: 5px;}
.leaguemenu .dropdownleague ul.dropdown-menu{  animation: initial; width: 100%;
                                               background-color: rgba(0,0,0,.85);
                                               -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
                                               -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
                                               box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
                                               border: 0;
                                               padding: 0;
                                               margin-top: 0;
                                               border-top: 0;
                                               border-radius: 0;
}

.leaguemenu .dropdownleague ul.dropdown-menu li a:hover{color:#eee;}

.leaguemenu .dropdownleague a{
    background: #2a2a2a;
    display: block;
    width: auto;
    /*float: left;*/
    padding: 5px 15px;
    font-size: 15px;
    color: #fff;
    height:36px;


}
.leaguemenu .dropdownleague a:hover{background: #444;}
.leaguemenu .dropdownleague a i.fa{
    margin-right: 5px;
    font-size: 25px;
    /* top: 5px; */
    display: block;
    float: left;
}

.leaguemenu .leaguelogo{width: auto; height: 35px; float:left;}
.leaguemenu .leaguelogo img{height: 35px;}

.leaguetitle{    float: left;
                 width: auto;
                 margin-top: 2px;
                 margin-left: 5px;}
.clublist{margin-top: 15px; background: #f5f5f5; min-height: 55px; }
.clublist ul.clublistinner{margin: 0; padding: 0;}
.clublist ul.clublistinner li{display: inline-block; float: left;}
.clublist ul.clublistinner li a img{width: 55px; height: 55px;}

.clubscore{margin-top: 15px; background: #f5f5f5; padding: 0px; overflow: hidden;}
.clubscore ul.clubscoreinner{margin: 0; padding: 0px; margin-right: -2px;}
.clubscore ul.clubscoreinner li{display: inline-block; float: left; width: 10%; border-right: 1px solid #aaa;}
.clubscore ul.clubscoreinner li a{font-size: 13px; padding: 0px 7px; color:#222; display: block;}
.clubscore ul.clubscoreinner li a span{float: right; margin-right: 0px;}

@media (max-width: 1200px) {
    .search form{width: 170px;}
    .clubscore ul.clubscoreinner li{width: 20%;}
}

@media (max-width: 767px) {
    body>.container{padding: 0px;}
    .rightman{
        width: 80px;
    }
    .sitelogo{margin-top: 25px;}
    .sitelogo img{width: 80px;}
    .social-share{margin-top: 10px;}
    .dropdown.lastmenu{
        margin-right: 0px;
        float: left;
    }
    .container > .navbar-header, .container > .navbar-collapse{overflow: visible;}
    .search form{width: 100%;}
    .search{width: 100%;}
    .social.socialright{bottom: 16px;}
    .clubscore ul.clubscoreinner li{width: 33.333%;}
    .rightman .footyouter{right: 0%;}
    .dropdown.lastmenu>a{max-width: 100%}
}







/*************************
*******Login Page******
**************************/

body.loginpage{
    margin: 0; padding: 0; background-color: #26512f;
    background: url(../images/loginbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
body.loginpage>.container{background: transparent; margin-top: 80px;}
.loginbox{background: rgba(0, 0, 0, 0.42);}
.loginbox h2{color:#fff; width: 100%; text-align: center;padding-top: 50px; margin-bottom: 0; font-size: 42px; font-weight: 600;}
.loginbox h3{color:#fff;width: 100%; text-align: center;font-size: 30px; margin-top: 5px; }
.loginbox .loglabel{color:#fff;width: 100%; text-align: center;font-size: 16px; margin-top: 25px; }
.loginbox .invalidfields{color:#fff;width: 100%; text-align: center;font-size: 16px; margin-top: 10px; color: #ff4444; display: none; }
.loginbox .validfields{width: 100%; text-align: center;font-size: 16px; margin-top: 10px; color: #4cae4c; display: none; }
.loginbox .loginfield{width: 100%; margin-top: 5px; margin-bottom: 20px; text-align: center;}
.loginbox .loginfield input{width: 240px; background: #d7d7d7; border: 0;    padding: 2px 8px;    text-align: center;}
.loginbox .loginfield .btnlogin{width: 150px; background: #d7d7d7; border: 0;    padding: 2px 8px;   
                                text-align: center;    margin: 0 auto; color:#222; cursor: pointer;}
.loginbox .loginfield .btnlogin:hover{background: #c7c7c7}
.loginbox  .socialloginbuttons{width: 90px; background: #d7d7d7;margin: 0 auto; padding: 3px 7px; margin-top: 5px; }
.loginbox .socialloginbuttons .btnfacebook{    width: 28px;
                                               height: 27px;
                                               background: #3a5897;
                                               display: block;
                                               color: #fff;
                                               text-align: center;
                                               padding: 3px; float: left;}
.loginbox .socialloginbuttons .btnfacebook:hover{background: #506eac;}
.loginbox .socialloginbuttons .btntwitter{    width: 28px;
                                              height: 27px;
                                              background: #3e97d5;
                                              display: block;
                                              color: #fff;
                                              text-align: center;
                                              padding: 3px; float: right;}
.loginbox .socialloginbuttons .btntwitter:hover{background: #5ea9dd;}
.loginbox .footerlogo{text-align: center; margin-top: 25px;}
.loginbox .footerlogo img{width: 80px;}
.loginfield select{width: 240px; background: #d7d7d7; border: 0;    padding: 2px 8px;    text-align: center;}
.forgotlink{    font-size: 11px;
                color: #ebebeb;
                text-align: center;
                cursor: pointer;}
.forgotlink:hover{text-decoration: underline;}

@media (max-width: 767px) {
    body.loginpage>.container{background: transparent; margin-top: 0px;}
    body.loginpage{background-size: auto 100%;}
    body.loginpage .col-md-8{margin: 0; padding: 0; min-height:0px;}
}

.user{position: relative; float: left; width: 100%;
      margin-right:4%;}

.user .manouter{border-radius: 50%;
                overflow: hidden; }
.user .manouter img{width: 100%;}
.user .footyouter{width:40%; border-radius: 50%;
                  border: 1px solid #CCCCCC; overflow: hidden; position: absolute;
                  bottom: 0%;
                  right: -0%;
                  background: #fff;

                  -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.69);
                  -moz-box-shadow:    0px 5px 11px 0px rgba(50, 50, 50, 0.69);
                  box-shadow:         0px 5px 11px 0px rgba(50, 50, 50, 0.69);
}
.user .footyouter img{width: 100%;}
.user .footyouter .footyinner{padding: 0%;}
.articleheader{margin-top: 15px;}
.box1{}
.box1 .boxheader{background: #3d3d3d; color: #fff; text-align: center; padding: 3px; font-size: 16px;}
.box1 .boxcontent{background: #f5f5f5; padding: 10px;}
.victory{margin-top: 15px;}
.victory img{width: 100%;}
.victory .col-md-3{    width: 22%;
                       padding-left: 10px;
                       padding-right: 10px;}
.borderbutton{border: 1px solid #bbb;
              border-radius: 1px;
              padding: 4px 5px;
              margin: 5px;
              width: auto;
              float: left;
              background: #f5f5f5;
              text-align: center;
              width: 75px;
              margin-right: 10px;
              cursor: pointer;
}
.borderbutton:hover{background: #efefef;}
.teamheader{position: relative;}
.teamheader img{width: 100%;}
.teamheader .logo{
    position: absolute;
    width: 24%;
    right: 15px;
    top: 10px;

}
.teamheader .sociallinks{
    width: auto;
    bottom: 0px;
    left: 0px;
    background: #000;
    position: absolute;
    padding: 3px;
}
.teamheader .sociallinks  a{
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
    text-align: center;
    padding-top: 1px;
    cursor: pointer;
}
.teamheader .sociallinks  a:last-child{margin-right: 5px;}
.teamheader .sociallinks  a.facebook{background: #3a5897;}
.teamheader .sociallinks  a.twitter{background: #5ea9dd;}
.teamheader .sociallinks  a.insta{background: #a4745a;}
.teamheader .sociallinks  a.feed{background: #e26f2c;}
.articlecontent{margin-top: 15px;}
.articleupper{position: relative;}
.articleupper img{width: 100%;}
.articleupper .articletitle{position: absolute; bottom: 0; left: 0; background: rgba(0,0,0,.5); padding: 10px; width: 100%;}
.articleupper .articletitle h1{color: #fff; font-size: 24px; margin: 0; line-height: 26px;}
.articledata{background: #f5f5f5; padding: 10px; margin-top: 10px;}
.articlestrip{font-size: 20px; color: #222; clear: both; height: 30px;}
.articlestrip .commentcount{float:right; width: auto; margin: 5px;}
.articlestrip .viewcount{float:right; width: auto; margin: 5px; margin-right: 15px;}
.articledata .articletext{font-size: 13px;}
.articletags {margin-top: 15px;}
.articletags div{    background: #d7d7d7;
                     padding: 0px 8px;
                     color: #555;
                     display: inline-block;
                     width: auto;
                     margin-right: 5px;
                     font-size: 13px;
                     line-height: 21px;
}
.articlecommentbox {background: #f5f5f5; margin-top: 25px; }
.articlecommentbox textarea{border: 1px solid #e5e5e5; padding:5px 10px; width: 100%; background: transparent; min-height: 150px;}
.articlecommentbox .borderbutton{width: 150px; float: right; margin-right: 0; cursor: pointer;}
.poll{margin-top: 15px; position: relative; margin-bottom: 15px}
.poll img{width: 100%;}
.poll .polltitle{width: 100%; padding: 5px; background: rgba(0,0,0,.5); color: #fff; font-size: 16px; position: absolute; left: 0; top: 20px; text-align: center;}
.poll .polloption{width: 135px; padding:15px; background: rgba(0,0,0,.5); color: #fff; font-size: 22px; position: absolute;  bottom: 20%; text-align: center; cursor: pointer; }
.poll .polloption:hover{background: rgba(0,0,0,.7);}
.poll .polloption.option1{left: 20%;}
.poll .polloption.option2{right: 20%;}
.leftadd{ margin-bottom: 15px;}
.leftadd img{width: 100%;}
.rightpanel{background: #f5f5f5;  padding: 10px; margin-bottom: 15px;}
.rightpanel .panelheader{background: #2a2a2a; padding: 5px; font-size: 20px; color: #fff; text-align: center; }
.newshead{width: 100%; overflow: hidden; height: auto; background: #fff; cursor: pointer; margin-top: 10px;}
.newshead:hover{background: #fafafa;}
.newshead .leftsection{width: 130px; float: left; }
.newshead .leftsection img{width: 100%;}
.newshead .rightsection{margin-left: 135px; line-height: 16px; font-size: 14px; padding: 5px; font-weight: 600; padding-top: 5px; color: #555; padding-bottom: 0; }
.promoted{margin-bottom: 15px;}
.promoted ul{margin: 0; padding: 0; border-bottom: 1px solid #aaa;}
.promoted ul li{margin: 0; padding: 0; display: block;}
.promoted ul li a{ display: block;;padding: 5px; color: #000; background: #f5f5f5; border: 1px solid #aaa; border-bottom: 0;    overflow: hidden;
                   display: block;
                   text-overflow: ellipsis;
                   white-space: nowrap;}
.promoted ul li:nth-of-type(2n-1) a{background: #b7b7b7;}
.promoted ul li:first-child a{cursor: default;}
.promoted ul li a:hover{background: #fafafa; }
.promoted ul li:nth-of-type(2n-1) a:hover{background: #bfbfbf;}
.longadd{width: 100%;clear: both; margin-bottom: 15px;}
.newspanel{background: #f5f5f5;  padding: 0px; margin-bottom: 15px;}
.newspanel .panelheader{background: #2a2a2a; padding: 5px; font-size: 18px; color: #fff; text-align: center; }
.articlevideo{width:100%; min-height:400px;}
@media (max-width: 767px) {
    .articlevideo{width:100%; min-height:250px;}
}

/*Home Page*/
.homefirstcol{margin-top: 15px; margin-bottom: 15px;}
.homeslider{position: relative; margin-bottom: 14px; max-height: 437px; overflow: hidden;}
.homeslider img{width: 100%;}
.homeslider h2{color: #fff; text-shadow:2px 2px #222; margin: 0; font-size: 62px; position: absolute; bottom: 30%; margin-left: 50px;

               overflow: hidden;
               text-overflow: ellipsis;
               display: -webkit-box;
               -webkit-line-clamp: 3;
               -webkit-box-orient: vertical;

}
.sliderfooter{position: absolute; bottom: 0px; width: 100%;  background: rgba(0,0,0,0.3);}
.sliderfooter .line{height: 3px; background:#fff;}
.sliderfooter .uname{color:#fff; font-size: 18px; width: auto; margin-left: 8px; float: left; padding:5px; margin-top: 8px;}
.sliderfooter .uimage{width: 40px; height: 40px; overflow: hidden; border-radius: 20px; margin: 5px; float: left;}
.sliderfooter .uimage img{width: 100%;}
.sliderfooter .uviews{color:#fff; font-size: 18px; width: auto; margin-right: 8px; float: right; padding:5px; margin-top: 8px;}
.sliderfooter .ucomments{color:#fff; font-size: 18px; width: auto; margin-right: 8px; float: right; padding:5px; margin-top: 8px;}
.homeslidersmall{position: relative; max-height: 130px; overflow: hidden; }
.homeslidersmall img{width: 100%;}
.homeslidersmall .smalltitle{width: 100%;  background: rgba(0,0,0,0.3); position: absolute; bottom: 30%; color: #fff; font-size: 18px; padding-left: 20px;
                             overflow: hidden;
                             text-overflow: ellipsis;
                             display: -webkit-box;
                             -webkit-line-clamp: 3;
                             -webkit-box-orient: vertical;

}
.slidersmall {margin: -8px;}
.slidersmall .col-md-4{padding: 8px;}

.writerboard{background: #4681a0; border-radius: 3px;}
.writerboard .boardheader{font-size: 20px; color:#fff; padding: 20px 15px;}
.writerboard .boardheader a{font-size: 12px; float: right; padding: 1px 25px; background: #3db39e;color:#fff;}
.writerboard .boardheader a:hover{background: #48c2ac;}
.postable{}
table.table.postable tr th{background: #386780; color: #fff; border: 0px; font-size:12px; border-top:0px;padding: 10px 12px;}
table.table.postable tr td{background: #538aa7; color: #fff; border: 0px; font-size:12px; border-top:0px;padding: 10px 12px; border-right: 2px solid #a9c4d3;}
table.table.postable tr td:last-child{border: 0;}
table.table.postable tr:nth-of-type(2n-1) td{background: #427997;}
.boarduser{width: 24px; height:24px; overflow: hidden; border-radius:12px;    display: block;    float: right;     margin: -4px 0px;}
.boarduser img{width: 100%;}
table.table.postable tr td span.symbol{float: right;display: block; width: auto;}
table.table.postable tr td span.symbolup{float: right;display: block; width: auto; overflow: hidden; height: 12px;}
table.table.postable tr td span.symboldown{float: right;display: block; width: auto; overflow: hidden;     height: 23px;
                                           margin-top: -9px;}
table.table.postable tr td .fa-circle{font-size: 8px; color: #6294af;}
table.table.postable tr td .fa-sort-up{font-size: 24px; color: #3db39e;}
table.table.postable tr td .fa-sort-down{font-size: 24px; color: #e2574c;}

.strip{margin-bottom: 15px;}
.strip .blacklabel{background: #2a2a2a; color:#fff; font-size: 16px; padding: 6px; text-align: center; width:100%; float: left; }
.stripicons{background: #f5f5f5; display: table; width: 100%; padding: 3px;}
.stripicons img{width:29px; height: 29px; display: block; float: left; margin-left: 5px; }
.row.trendnews{margin: 0;}
.trendnews>.col-md-4,.trendnews>.col-md-8{padding: 0; margin: 0;}
.tnewsblock{position: relative;}
.tnewsblock img{width: 100%;}

.tnewsblock .tnbfooter{position: absolute; bottom: 0; left:0; width: 100%; background: rgba(255,255,255,.7);}
.tnbfooter .heading{color:#222; font-size:28px; width: auto; margin-left: 8px; float: none; clear: both; font-weight: bold; padding:5px; padding-top: 10px;}
.tnbfooter .uname{color:#222; font-size: 16px; width: auto; margin-left: 8px; float: left; padding:5px; padding-top: 3px; margin-top:0px;}
.tnbfooter .uimage{width: 26px; height: 26px; overflow: hidden; border-radius: 13px; margin-left: 5px; float: left;}
.tnbfooter .uimage img{width: 100%;}
.messagesview .commetsingle .comcontent .comheader{color:#555; font-size:16px;}
.messagesview .commetsingle .comcontent .comdate{ font-size: 12px;
    margin-top: 2px;
    color: #999;
    width: auto;
    float: right;
    font-weight: 400;}
@media (max-width: 767px) {
    .homeslider h2{margin-left: 10px; font-size: 32px; }
    .homeslidersmall{position: relative; max-height: 200px; overflow: hidden; }
}











/*Article List*/
.btnblack{
    background: #2a2a2a;
    padding: 7px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.btnblack:hover{background: #444;}
.searchtext input{
    width: 100%;
    padding: 6px;
    background: #fff;
    border: 1px solid #e5e5e5;
}
.searchtext{   float: none;    width: auto;    overflow: hidden;}
.searchbox{height: auto; overflow: hidden;background: #f5f5f5; padding: 5px;}
.searchbox .searchbtn{ width: 110px;    float: right;}
.singlearticle{background: #f5f5f5; margin-bottom: 15px; padding: 6px;}
.singlearticle img{width: 100%;}
.singlearticle h3{font-size: 20px; color:#222; margin: 0;    line-height: 20px; margin-bottom: 5px;}
.articlestrip a.viewall{    display: block;
                            padding: 2px 20px;
                            color: #222;
                            border: 1px solid #ccc;
                            width: auto;
                            float: right;
                            font-size: 14px;
                            margin-left: 15px;
                            background: #eee;
}
.articlestrip a.viewall:hover{background: #f5f5f5;}
.articlestrip .uname{color:#666; font-size: 14px; width: auto; margin-left: 0px; float: left; padding:5px; padding-top: 2px; margin-top:0px; padding-left: 0; }
.articlestrip .uimage{width: 26px; height: 26px; overflow: hidden; border-radius: 13px; margin-left: 5px; float: left;}
.articlestrip .uimage img{width: 100%;}
.singlearticle .articlestrip .viewcount {margin-top: 2px;}
.singlearticle .articlestrip .commentcount {margin-top: 2px;}
.pagination{
    margin: 10px 0;
}
.pagination li{
    cursor: pointer;
}
.pagination li.active span{
    background-color: #222;
    border-color: #ccc;
}
.pagination li.active span:hover{
    background-color: #222;
    border-color: #ccc;
}
.commetsingle{margin-bottom: 10px; height: auto; overflow: hidden;}
.commetsingle .comimage{width:50px; height:50px; overflow:hidden; border-radius:25px; float: left;}
.commetsingle .comimage img{width:100%; }
.commetsingle .comcontent{margin-left: 65px; padding:8px; background: #f5f5f5; position: relative;}
.commetsingle .comcontent .arraowleft{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;   
    border-right:10px solid whitesmoke; 
    position: absolute;
    left: -10px;
    top: 16px;
}

.commetsingle .comcontent .comheader{font-size:18px; color:#222; font-weight: 500; margin-bottom: 5px; }
.commetsingle .comcontent .comheader .comdate{font-size:12px; margin-top:1px; color:#999; width: auto;  float:right; font-weight: 400; }
.commetsingle .comcontent .comtext{ font-size: 14px;line-height: 18px;color: #797979; min-height: 30px;}
section{overflow:hidden;}
h2.subheading{padding-left:5px;}
.loadmore{margin-top: 10px; margin-bottom: 15px; padding: 6px; background: #f5f5f5; border:1px solid #e5e5e5; color:#666; text-align: center; cursor:pointer;}
.loadmore:hover{background:#e5e5e5; }
.loaderview{height: 36px; margin-top: 10px; margin-bottom: 15px;  text-align: center; overflow: hidden; display: none; }
.loaderview img{  width: 200px;
                  margin-top: -61px; }
.loading .loadmore{display:none;}
.loading .loaderview{display:block;}

table.table.postable.small tr th{padding: 5px 8px;}
table.table.postable.small tr td{padding: 5px 8px;}
table.table.postable tr.yellow td{background: #ebb826;}
table.table.postable tr.red td{background: #fb0f0d;}
table.table.postable.small {margin-bottom: 10px;}
.homepoll{position: relative; margin-bottom: 10px;}
.homepoll img{width: 100%;}
.homepoll .content{position: absolute; left: 0; top: 0; width: 100%;}
.homepoll .content .text{padding: 20px 10px; text-align: center; width: 92%; font-size: 26px; color:#fff; border: 3px solid #fff; margin: 0 auto; border-radius: 5px; margin-top: 100px;}
.homepoll .content .button{padding: 20px 10px; text-align: center; width: 92%; font-size: 36px; color:#fff; border: 3px solid #fff; margin: 0 auto; border-radius: 5px; margin-top: 40px; cursor: pointer;}
.homepoll .content .button:hover{background: rgba(0,0,0,.5); border: 3px solid #aaa;}
.homepoll .sociallinks{
    width: auto;
    bottom: 0px;
    left: 0px;
    background: #000;
    position: absolute;
    padding: 3px;
    left:30%;
}
.homepoll .sociallinks  a{
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    font-size: 22px;
}
.homepoll .sociallinks  a:last-child{margin-right: 5px;}
.homepoll .sociallinks  a.facebook{background: #3a5897;}
.homepoll .sociallinks  a.twitter{background: #5ea9dd;}
.homepoll .sociallinks  a.insta{background: #a4745a;}
.homepoll .sociallinks  a.feed{background: #e26f2c;}
.homeclubnews .newshead .rightsection{margin-top: 15px; overflow: hidden; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.gallery img{width: 100%;}
.gallery .row{margin: 0 -5px;}
.gallery .row .col-md-8,.gallery .row .col-md-2{padding: 0 5px;}
.gallery .row .col-md-2 .videoimage{ cursor: pointer;}
.gallery .row .col-md-2 .videoimage:first-child{margin-bottom: 10px;}
.gallerynav{margin-top: 8px;}
.gallerynav{height: auto; overflow: hidden;}
.gallerynav .btnpre,.gallerynav .btnnext{display: block; color: #fff; font-size: 12px; background: #222; padding: 2px; width: 100px; cursor: pointer; text-align: center; }
.gallerynav .btnpre:hover,.gallerynav .btnnext:hover{background: #444;}
.gallerynav .btnnext{float: right;}
.gallerynav .btnpre{float: left;}
.gallerynav .gallerttext{margin: 0 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0 5px; padding-top: 2px;}
@media (max-width: 767px) {
    .gallerynav{margin-bottom: 10px;}
}
