@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


/*************************
*******Typography******
**************************/

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color:#4e4e4e;
    line-height: 22px;
    background: #265531;
    background-image:  url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;

}
body>.container{background: #fff; margin-top: 17%;padding: 0px 34px;}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600; 
    font-family: 'Open Sans', sans-serif;
    color:#4e4e4e;
}

h1{
    font-size: 36px;
    color:#fff;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
}

h4{
    font-size: 16px;
}

a {
    color: #c52d2f;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition:  color 300ms, background-color 300ms;
    transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
    color: #d43133;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}


.btn-primary {
    padding: 8px 20px;
    background: #c52d2f;
    color: #fff;
    border-radius: 4px;
    border:none;
    margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
    background: #c52d2f;
    outline: none;
    box-shadow: none;
} 

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

.center h2{
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.media>.pull-left{
    margin-right: 20px;
}

.media>.pull-right{
    margin-left: 20px;
}

body > section {
    padding: 70px 0;
}

.center {
    text-align: center;
    padding-bottom: 55px;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.transparent-bg {
    background-color: transparent !important;
    margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}


/*************************
*******Header******
**************************/

#header .search{
    display: inline-block;
}

.navbar>.container .navbar-brand{
    margin-left: 0;

}

.top-bar {
    padding: 10px 0;   
    border-bottom: 1px solid #222;
    line-height: 28px;
}
.sitelogo>a{display: block; float: left;}
.sitelogo img{width: 154px; display: block; float: left;}

.social{
    text-align: left;
    display: block;
    float: left;
}

.social-share{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-left: 10px;
}

ul.social-share li {
    display: inline-block;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
}

ul.social-share li a:hover {
    background: #ae1e23;
    color: #fff;
}
.social.socialright{    position: absolute;
                        left: -100px;
                        bottom: 5px;}
.sitelogo{margin-top: 35px;}
.rightman{position: relative; float: right; width: 120px;
          margin-right:4%;}

.rightman .manouter{border-radius: 50%;
                    border: 1px solid #00b2b2; overflow: hidden; }
.rightman .manouter img{width: 100%;}
.rightman .footyouter{width:40%; border-radius: 50%;
                      border: 1px solid #CCCCCC; overflow: hidden; position: absolute; 
                      bottom: 0%;
                      right: -15%;
                      background: #fff;

                      -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.69);
                      -moz-box-shadow:    0px 5px 11px 0px rgba(50, 50, 50, 0.69);
                      box-shadow:         0px 5px 11px 0px rgba(50, 50, 50, 0.69);
}
.rightman .footyouter img{width: 100%;}
.rightman .footyouter .footyinner{padding: 10%;}

.search i {
    color: #888;
    position: absolute;
    top: 0px; right: 3px;
    cursor: pointer;
    padding: 6px;
}
.search form{border-radius: 3px;background: #fff; position: relative;  overflow: hidden; margin-top: 2px; width: 285px;}
input.search-form{
    font-size: 13px;
    border: 0 none;
    width: 100%;
    padding: 3px 25px 2px 15px;
    color: #555;


}

input.search-form::-webkit-input-placeholder{
    color: #aaa;
}

input.search-form:hover::-webkit-input-placeholder {
    color: #aaa;
}



.navbar-brand {
    padding: 0;
    margin:0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #2a2a2a;
    padding: 0px 0;
    padding-bottom: 0;
}

.nav.navbar-nav{width: 100%;}

.navbar-nav>li{
    margin-right: 10px;
    padding: 18px 2px;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
    font-size: 13px;
}

.navbar-inverse .navbar-nav > li > a:hover{

    color: #fff;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background: #2a2a2a;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: rgba(0,0,0,.85);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: auto;
    right: -20px;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
    position: absolute;
    top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    padding: 8px 15px;
    color: #fff;
    background: #2a2a2a;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
    background-color: #2a2a2a;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-top: 0;
    padding-bottom: 0;
}
.dropdown.lastmenu{
    margin-right:5px;
    float: right;
}
.dropdown.lastmenu>a{max-width: 160px;
                     white-space: nowrap;
                     overflow: hidden;
                     text-overflow: ellipsis;

}
.dropdown.lastmenu>a{min-width: 100px}

.leaguemenu{
    margin-top: 15px;
}
.leaguemenu .dropdownleague{position: relative;}
.leaguemenu .dropdownleague{width:280px; float: left; margin-right: 5px;}
.leaguemenu .dropdownleague ul.dropdown-menu{  animation: initial; width: 100%;
                                               background-color: rgba(0,0,0,.85);
                                               -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
                                               -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
                                               box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
                                               border: 0;
                                               padding: 0;
                                               margin-top: 0;
                                               border-top: 0;
                                               border-radius: 0;
}

.leaguemenu .dropdownleague ul.dropdown-menu li a:hover{color:#eee;}

.leaguemenu .dropdownleague a{
    background: #2a2a2a;
    display: block;
    width: auto;
    /*float: left;*/
    padding: 5px 15px;
    font-size: 15px;
    color: #fff;
    height:36px;


}
.leaguemenu .dropdownleague a:hover{background: #444;}
.leaguemenu .dropdownleague a i.fa{
    margin-right: 5px;
    font-size: 25px;
    /* top: 5px; */
    display: block;
    float: left;
}

.leaguemenu .leaguelogo{width: auto; height: 35px; float:left;}
.leaguemenu .leaguelogo img{height: 35px;}

.leaguetitle{    float: left;
                 width: auto;
                 margin-top: 2px;
                 margin-left: 5px;}
.clublist{margin-top: 15px; background: #f5f5f5; min-height: 55px; }
.clublist ul.clublistinner{margin: 0; padding: 0;}
.clublist ul.clublistinner li{display: inline-block; float: left;}
.clublist ul.clublistinner li a img{width: 55px; height: 55px;}

.clubscore{margin-top: 15px; background: #f5f5f5; padding: 0px; overflow: hidden;}
.clubscore ul.clubscoreinner{margin: 0; padding: 0px; margin-right: -2px;}
.clubscore ul.clubscoreinner li{display: inline-block; float: left; width: 10%; border-right: 1px solid #aaa;}
.clubscore ul.clubscoreinner li a{font-size: 13px; padding: 0px 7px; color:#222; display: block;}
.clubscore ul.clubscoreinner li a span{float: right; margin-right: 0px;}

@media (max-width: 1200px) {
    .search form{width: 170px;}
    .clubscore ul.clubscoreinner li{width: 20%;}
}

@media (max-width: 767px) {
    body>.container{padding: 0px;}
    .rightman{
        width: 80px;
    }
    .sitelogo{margin-top: 25px;}
    .sitelogo img{width: 80px;}
    .social-share{margin-top: 10px;}
    .dropdown.lastmenu{
        margin-right: 0px;
        float: left;
    }
    .container > .navbar-header, .container > .navbar-collapse{overflow: visible;}
    .search form{width: 100%;}
    .search{width: 100%;}
    .social.socialright{bottom: 16px;}
    .clubscore ul.clubscoreinner li{width: 33.333%;}
    .rightman .footyouter{right: 0%;}
    .dropdown.lastmenu>a{max-width: 100%}
}







/*************************
*******Login Page******
**************************/

body.loginpage{
    margin: 0; padding: 0; background-color: #26512f;
    background: url(../images/loginbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
body.loginpage>.container{background: transparent; margin-top: 80px;}
.loginbox{background: rgba(0, 0, 0, 0.42);}
.loginbox h2{color:#fff; width: 100%; text-align: center;padding-top: 50px; margin-bottom: 0; font-size: 42px; font-weight: 600;}
.loginbox h3{color:#fff;width: 100%; text-align: center;font-size: 30px; margin-top: 5px; }
.loginbox .loglabel{color:#fff;width: 100%; text-align: center;font-size: 16px; margin-top: 25px; }
.loginbox .invalidfields{color:#fff;width: 100%; text-align: center;font-size: 16px; margin-top: 10px; color: #ff4444; display: none; }
.loginbox .validfields{width: 100%; text-align: center;font-size: 16px; margin-top: 10px; color: #4cae4c; display: none; }
.loginbox .loginfield{width: 100%; margin-top: 5px; margin-bottom: 20px; text-align: center;}
.loginbox .loginfield input{width: 240px; background: #d7d7d7; border: 0;    padding: 2px 8px;    text-align: center;}
.loginbox .loginfield .btnlogin{width: 150px; background: #d7d7d7; border: 0;    padding: 2px 8px;   
                                text-align: center;    margin: 0 auto; color:#222; cursor: pointer;}
.loginbox .loginfield .btnlogin:hover{background: #c7c7c7}
.loginbox  .socialloginbuttons{width: 90px; background: #d7d7d7;margin: 0 auto; padding: 3px 7px; margin-top: 5px; }
.loginbox .socialloginbuttons .btnfacebook{    width: 28px;
                                               height: 27px;
                                               background: #3a5897;
                                               display: block;
                                               color: #fff;
                                               text-align: center;
                                               padding: 3px; float: left;}
.loginbox .socialloginbuttons .btnfacebook:hover{background: #506eac;}
.loginbox .socialloginbuttons .btntwitter{    width: 28px;
                                              height: 27px;
                                              background: #3e97d5;
                                              display: block;
                                              color: #fff;
                                              text-align: center;
                                              padding: 3px; float: right;}
.loginbox .socialloginbuttons .btntwitter:hover{background: #5ea9dd;}
.loginbox .footerlogo{text-align: center; margin-top: 25px;}
.loginbox .footerlogo img{width: 80px;}
.loginfield select{width: 240px; background: #d7d7d7; border: 0;    padding: 2px 8px;    text-align: center;}
.forgotlink{    font-size: 11px;
                color: #ebebeb;
                text-align: center;
                cursor: pointer;}
.forgotlink:hover{text-decoration: underline;}

@media (max-width: 767px) {
    body.loginpage>.container{background: transparent; margin-top: 0px;}
    body.loginpage{background-size: auto 100%;}
    body.loginpage .col-md-8{margin: 0; padding: 0; min-height:0px;}
}

.user{position: relative; float: left; width: 100%;
      margin-right:4%;}

.user .manouter{border-radius: 50%;
                overflow: hidden; }
.user .manouter img{width: 100%;}
.user .footyouter{width:40%; border-radius: 50%;
                  border: 1px solid #CCCCCC; overflow: hidden; position: absolute;
                  bottom: 0%;
                  right: -0%;
                  background: #fff;

                  -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.69);
                  -moz-box-shadow:    0px 5px 11px 0px rgba(50, 50, 50, 0.69);
                  box-shadow:         0px 5px 11px 0px rgba(50, 50, 50, 0.69);
}
.user .footyouter img{width: 100%;}
.user .footyouter .footyinner{padding: 0%;}
.articleheader{margin-top: 15px;}
.box1{}
.box1 .boxheader{background: #3d3d3d; color: #fff; text-align: center; padding: 3px; font-size: 16px;}
.box1 .boxcontent{background: #f5f5f5; padding: 10px;}
.victory{margin-top: 15px;}
.victory img{width: 100%;}
.victory .col-md-3{    width: 22%;
                       padding-left: 10px;
                       padding-right: 10px;}
.borderbutton{border: 1px solid #bbb;
              border-radius: 1px;
              padding: 4px 5px;
              margin: 5px;
              width: auto;
              float: left;
              background: #f5f5f5;
              text-align: center;
              width: 75px;
              margin-right: 10px;
              cursor: pointer;
}
.borderbutton:hover{background: #efefef;}
.teamheader{position: relative;}
.teamheader img{width: 100%;}
.teamheader .logo{
    position: absolute;
    width: 24%;
    right: 15px;
    top: 10px;

}
.teamheader .sociallinks{
    width: auto;
    bottom: 0px;
    left: 0px;
    background: #000;
    position: absolute;
    padding: 3px;
}
.teamheader .sociallinks  a{
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
    text-align: center;
    padding-top: 1px;
}
.teamheader .sociallinks  a:last-child{margin-right: 5px;}
.teamheader .sociallinks  a.facebook{background: #3a5897;}
.teamheader .sociallinks  a.twitter{background: #5ea9dd;}
.teamheader .sociallinks  a.insta{background: #a4745a;}
.teamheader .sociallinks  a.feed{background: #e26f2c;}
.articlecontent{margin-top: 15px;}
.articleupper{position: relative;}
.articleupper img{width: 100%;}
.articleupper .articletitle{position: absolute; bottom: 0; left: 0; background: rgba(0,0,0,.5); padding: 10px; width: 100%;}
.articleupper .articletitle h1{color: #fff; font-size: 24px; margin: 0; line-height: 26px;}
.articledata{background: #f5f5f5; padding: 10px; margin-top: 10px;}
.articledata .articlestrip{font-size: 20px; color: #222; clear: both; height: 30px;}
.articledata .articlestrip .commentcount{float:right; width: auto; margin: 5px;}
.articledata .articlestrip .viewcount{float:right; width: auto; margin: 5px; margin-right: 15px;}
.articledata .articletext{font-size: 13px;}
.articletags {margin-top: 15px;}
.articletags div{    background: #d7d7d7;
                     padding: 0px 8px;
                     color: #555;
                     display: inline-block;
                     width: auto;
                     margin-right: 5px;
                     font-size: 13px;
                     line-height: 21px;
}
.articlecommentbox {background: #f5f5f5; margin-top: 25px; }
.articlecommentbox textarea{border: 0; width: 100%; background: transparent; min-height: 150px;}
.articlecommentbox .borderbutton{width: 150px; float: right; margin-right: 0; cursor: pointer;}
.poll{margin-top: 15px; position: relative; margin-bottom: 15px}
.poll img{width: 100%;}
.poll .polltitle{width: 100%; padding: 5px; background: rgba(0,0,0,.5); color: #fff; font-size: 16px; position: absolute; left: 0; top: 20px; text-align: center;}
.poll .polloption{width: 135px; padding:15px; background: rgba(0,0,0,.5); color: #fff; font-size: 22px; position: absolute;  bottom: 20%; text-align: center; cursor: pointer; }
.poll .polloption:hover{background: rgba(0,0,0,.7);}
.poll .polloption.option1{left: 20%;}
.poll .polloption.option2{right: 20%;}
.leftadd{ margin-bottom: 15px;}
.leftadd img{width: 100%;}
.rightpanel{background: #f5f5f5;  padding: 10px; margin-bottom: 15px;}
.rightpanel .panelheader{background: #2a2a2a; padding: 5px; font-size: 20px; color: #fff; text-align: center; }
.newshead{width: 100%; overflow: hidden; height: auto; background: #fff; cursor: pointer; margin-top: 10px;}
.newshead:hover{background: #fafafa;}
.newshead .leftsection{width: 130px; float: left; }
.newshead .leftsection img{width: 100%;}
.newshead .rightsection{margin-left: 135px; line-height: 16px; font-size: 14px; padding: 5px; font-weight: 600; padding-top: 5px; color: #555;  }
.promoted{margin-bottom: 15px;}
.promoted ul{margin: 0; padding: 0; border-bottom: 1px solid #aaa;}
.promoted ul li{margin: 0; padding: 0; display: block;}
.promoted ul li a{ display: block;;padding: 5px; color: #000; background: #f5f5f5; border: 1px solid #aaa; border-bottom: 0;}
.promoted ul li:nth-of-type(2n-1) a{background: #b7b7b7;}
.promoted ul li:first-child a{cursor: default;}

.longadd{width: 100%;clear: both; margin-bottom: 15px;}
.newspanel{background: #f5f5f5;  padding: 0px; margin-bottom: 15px;}
.newspanel .panelheader{background: #2a2a2a; padding: 5px; font-size: 18px; color: #fff; text-align: center; }
.articlevideo{width:100%; min-height:400px;}
@media (max-width: 767px) {
    .articlevideo{width:100%; min-height:250px;}
}




