.sticky{
	margin-top: 85px;
}

.widget-title-custom.style12-custom{
	margin-bottom: 0px !important;
	font-size: 12px;
	text-transform: none;
}  

.feed-img{
	width: 20px;
	border-radius: 100px;
	margin-right: 25px;
	border: 1px solid #000;
} 


.comment-box textarea {
	background: none;
	height: 100px;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	border: 2px solid rgba(204, 204, 204, 0.59) !important;
}

.comment-box .textarea-block {
	margin: 0 0 0px;
}

.left-icon-feed{
	margin-left: -22px;
}


.feed-upload {
	background: #333;
	text-align: center;
	color: #fff;
	padding: 7px 5px;
}

.upload-attach{
	cursor: pointer;
}

.to-tweet{
	font-size: 20px !important;
	color: #ea2e2b;
}

.to-tweet a{
	color: #ea2e2b;
}

.tweet-line{
	line-height: 40px !important;
}

.feed-upload-btn{
	background: #333;
	text-align: center;
	color: #fff;
	padding: 7px 15px;
	border: none;
	margin-left: 135px;
}

.feed-control{
	margin: 0 0 1px !important;
}

.news-feed-article{
	background: rgba(204, 204, 204, 0.31);
	padding: 10px;
}

.feed-ul{
	list-style: none;
}

.kopa-share-post {
	margin-top: 5px;
	margin-bottom: 15px;
}

.feed-row-holder{
	margin-right: 0px;
	margin-left: 0px;
}


.feed-comment-like div{
	float: left;
	margin: 2px;
	line-height: 65px;
}

.feed-comment-like div a.btn{
	border-radius: 0px;
	height: 30px;
	width: auto;
	font-size: 16px;
	background: #cccccc;
	border: 1px solid #000;
}

.feed-comment-entry{
	background: #cccccc;

}

.feed-comment-entry div{
	float: left;
	margin: 4px;
}


.feed-comment-profile{
	border: 1px solid #e5e5e5;
	background: #000;
	padding: 5px;
}


.feed-comment-profile img::before{
	content: '';
	position: absolute;
	border-top: 12px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 13px solid #cccccc;
	top: 0;
	right: -13px;
}

.feed-comment-profile img{
	height: 26px;
	border-radius: 100px;
}

.feed-comment-input input{
	height: 37px;
	width: 465px;
	border: 1px solid #efefef;
	padding: 5px 15px;
}

.post-feed-comment-btn{
	margin: 5px auto;
}

.header-feed-post div{
	float: left !important;
	margin: 10px !important;
}

.comment-avatar img{
	width: 40px !important;
	border-radius: 100px !important;
}